@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&family=Cinzel+Decorative:wght@400;700&family=Coda&family=Graduate&family=Merriweather&family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&family=Cinzel+Decorative:wght@400;700&family=Coda&family=Graduate&family=Merriweather&family=Montserrat:wght@100&display=swap');


html{
    overflow-x: hidden !important;
}


 .pdr-0{
     padding-right:2px  !important;
 } 
 .pdl-5{
     padding-left:5px  !important;
 }


.homebg{
    position: relative;
    z-index: 92;
}
.active_lft_nv{
  color: #e3097b !important;
}

.logo{
    position: relative;
}

.logo::after{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 170px;
    height: 170px;
    content: '';
    z-index: 1;
    background-color: #fff;
    border-radius: 0px 50% 50% 50%;
    animation: scale1 4s linear infinite alternate-reverse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    animation-name: shapeMover2;
}

@keyframes shapeMover2 {
    0%{
        width: 170px;
        height: 170px;
    }
    50%{
        width: 180px;
        height: 180px;
    }
    100%{
        width: 175px;
        height: 175px;
    }
}


.logo img{
    position: relative; 
    z-index: 2; 
    margin-left: -7px; 
    margin-top: -7px; 
    width: 130px; 
    border-radius: 50%;
}



/* about us section  */
.about_sec_home{
    padding: 50px 0px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.2)), url(../images/pngs/abt-bg-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.about_sec_home_left{
    padding-top: 15px;
}
.about_sec_home_left h2{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 10px;
    color: #e4097f;
    font-size: 25px;
    font-weight: 500;
}



.about_sec_home_left h3{
    font-size: 36px;
     color: #f6c876;

}


.about_sec_home_left p{
    color: rgb(118, 118, 118);
    text-align: justify;
}


.about_sec_home_left_visn h4{
    font-family: 'Cinzel Decorative', cursive;
    color: #000000;
    font-weight: 500;
}



.about_sec_home_right {
  position: relative;
}

.about_sec_home_right::after{
    position: absolute;
    content: '';
    top: 25px;
    right: 98px;
    background-color: #e4097f;
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}


.about_sec_hm_rpic1{
    width: 290px;
    height: 240px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
    left: 35px;
}


.about_sec_hm_rpic2{
    width: 300px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: 140px;
    border: 1px solid #eaeaea;
    right: 56px;
    background: #fff;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 4px;
}

/* .chandu{
    height: 200px;
    width: 100%;
} */

.about_sec_home_btn a{
    z-index: 1;
    height: 50px;
    width: 190px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    padding-right: 35px;
    border-radius: 30px;
    position: relative;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(98deg, #e4097f 1%, #ff70bd 100%);
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    font-size: 18px;
}

.about_sec_home_btn a:hover{
    color: #e4097f;
    text-decoration: none;
    background: linear-gradient(98deg, #ffffff 1%, #ffffff 100%);
    border: 1px solid #e4097f;
}

.hm_abt_left_row{
    margin-top: 30px;
    margin-bottom: 10px;
}
.abt-cnt h1{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 20px;
    color: #e4097f;
    font-size: 30px;
    font-weight: 500;
}
/* about end  */

/* services section home  */
/* services section home  */
.services_sec_hm{
    padding: 30px 0px;
    overflow: hidden;
    position: relative;
}
.services_sec_hm::after{
    position: absolute;
    content: '';
    bottom: 0px;
    right: -260px;
    width: 520px;
    height: 480px;
    background-image: linear-gradient(45deg, rgb(244 244 244 / 0%), rgb(215 215 215 / 0%)),url(../images/pngs/vector.png);
    animation: svc_ani 24s linear infinite;
    transform: rotate(255deg);
    z-index: -1;
}

@keyframes svc_ani  {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(357deg);
    }
}


.services_sec_hm::before{
    position: absolute;
    content: '';
    left: -258px;
    top: 0px;
    width: 520px;
    height: 480px;
    background-image: linear-gradient(45deg, rgb(244 244 244 / 0%), rgb(215 215 215 / 0%)),url(../images/pngs/vector.png);
    animation: svc_ani 24s linear infinite;
    transform: rotate(255deg);
    z-index: -1;
}

@keyframes svc_ani  {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(357deg);
    }
}


.serv_sec_hm_hd h2{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 10px;
    color: #e4097f;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0px 30px 0px;
    text-align: center;
}
.hding{
    font-weight: 700;
    position: relative;
    /* z-index: 2; */
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;

    text-transform: uppercase;
    display: inline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 1s ease;
}

.services_sec_hmbox{
    position: relative;
    margin-bottom: 20px;
}
.services_sec_hmbox::after{
    position: absolute;
    top: 44%;
    left: 8px;
    width: 239px;
    height: 4px;
    content: '';
    background-color: #f6c876;
    transform: rotate(357deg);
}


.services_sec_hmbox img{
    width: 94%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
    display: flex;
    border-radius: 12px 12px 0px 0px;
}

.services_sec_hmbox_ct{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 50px 12px 12px 12px;
    margin-top: -40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.services_sec_hmbox_ct h3{
    font-size: 16px;
    color: #e4097f;
    margin: 0px;
    padding: 0px;
}

.serv_sec_home_btn{

}

.serv_sec_home_btn a{
    z-index: 1;
    height: 50px;
    width: 190px;
    color: #fff;
    font-weight: 600;
    line-height: 31px;
    padding-right: 35px;
    border-radius: 30px;
    position: relative;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(98deg, #e4097f 1%, #ff70bd 100%);
    padding: 6px 13px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    font-size: 12px;
    transition: 0.5s ease;
}
.serv_sec_home_btn a:hover{
    text-decoration: none;
    background: linear-gradient(98deg, #ffffff 1%, #ffffff 100%);
    border: 1px solid #e4097f ;
    color: #e4097f;
}




/* services section home end  */

/* ====================-----------------=================== */

/* ====================-----------------=================== */


.meet_our_space{
    padding: 150px 0px 80px 0px;
    background-image: linear-gradient(45deg, #eee0, #fff0), url(../images/banners/yellow_banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

.meet_our_space::after{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 300px;
    width: 1050px;
    height: 495px;
    background-color: #eaeaea;
    z-index: 0;
    border-top-left-radius: 35px;
}




.wding_cps{
    position: relative;
    height: 400px;
}
.wding_cps img{
    margin: -25px 0px 0px -35px;
    height: 480px;
}

.meet_our_space_row{
    position: relative;
    z-index: 9;
}


.meet_our_space_left_cnt{
    margin-top: 40%;
}

.meet_our_space_left_cnt h4{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 10px;
    color: #e4097f;
    font-size: 40px;
    font-weight: 500;
}

.wedding_hands{
    position:relative;

}
.wedding_hands img{
    position: absolute;
    top: 175px;
    left: -40px;
    height: 220px;
}



.meet_our_space_slicbox img{
    width: 95%;
    margin: 0px 5px;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #ff0089 !important;
}

.slick-prev{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: inherit !important;
    bottom: -46px;
    left: 20px !important;
}

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -46px;
    left: 55px;
    top: inherit !important;
}

/* ================================--------------======================== */
/* tharun clients section */

.our-clients-main-container {
    padding: 40px 0px 70px 0px;
    background: #f8f9fa;
    overflow: hidden;
}

.ourclients-main-heading-sec {
    text-align: center;
    margin-bottom: 35px;
}
.ourclients-main-heading-sec h2{
    font-family: "Cinzel Decorative", cursive;
    margin-top: 10px;
    color: rgb(228, 9, 127);
    font-size: 25px;
  
}

.ourclients-main-heading-sec p {
    padding: 3px 250px;
}


.clientsview-fist-row-sec {
    animation: 30s linear 0s infinite normal none running animate_row1;
    -ms-animation: 30s linear 0s infinite normal none running animate_row1;
    margin-bottom: 40px;
}

@keyframes animate_row1 {
0% {
    transform: translateX(0) translateZ(0px);
}
100% {
    transform: translateX(-50%) translateZ(0px);
}

}

.client-sec {
    padding: 0px 20px;
    margin-right: 28px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 5px;
    background: #fff;
}


.clients-logos-section {
    display: flex;
}
.client-sec img {
    /* filter: grayscale(1); */
    transition: .3s ease-in-out;
    width: 100px;
}

.clientsview-second-row-sec {
    animation: 30s linear 0s infinite normal none running animate_row2;
    -ms-animation: 30s linear 0s infinite normal none running animate_row2;
}
@keyframes animate_row2 {
0% {
    transform: translateX(-50%) translateZ(0px);
}
100% {
    transform: translateX(0) translateZ(0px);
}
}


/*kiran hm-contat*/
.hm-contact {
    padding: 40px 0px 70px 0px;
    overflow: hidden;
    background-color: #c9c9c940;
}
.hm-contact-btn{
    z-index: 1;
    height: 50px;
    width: 190px;
    color: #fff;
    font-weight: 600;
    line-height: 31px;
    padding-right: 35px;
    border-radius: 30px;
    position: relative;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(98deg, #e4097f 1%, #ff70bd 100%);
    padding: 6px 13px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    font-size: 12px;
    transition: 0.5s ease;
}


/* testimonial_sec */
.testimonial_sec{
    padding: 70px 0px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.testimonial_sec::after{
    position: absolute;
    content: '';
    bottom: 60px;
    right: 30px;
    width: 276px;
    height: 415px;
    background-image: linear-gradient(203deg, rgb(244 244 244 / 0%), rgb(215 215 215 / 0%)),url(../images/pngs/gold_lins3.png);
    z-index: 1;
}


.testimonial_heading h2{
    font-family: "Cinzel Decorative", cursive;
    margin-top: 10px;
    color: rgb(226 84 142);

    font-size: 25px;
    text-align: center;
    font-weight: 700;
}


/* footer_section_total */
.footer_section_total{
    padding: 50px 0px 10px 0px;
    margin-top: 100px;
    background-image: linear-gradient(45deg, rgb(228 9 127 / 25%), rgb(170 7 95 / 20%)), url(../images/pngs/overlay-left2.png);
    background-color: rgb(228 9 127);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left;
    margin-top: 0px;
    overflow: hidden;   
}


.footer_section_row{
    position: relative;
    z-index: 8;
}

.footer_section{
    position: relative;
    padding: 85px 0px 0px 0px;
}

.footer_section::after{
    position: absolute;
    content: '';
    top: 25px;
    right: 85px;
    width: 1198px;
    border-radius: 0px 75px 0px 0px;
    height: 520px;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)), url(../images/pngs/bg_4.png);
    z-index: 0;
}


.footer_logo img{
    width: 100%;
}
.footer_logo p{
    color: #ffffffe8;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
}



.footer_lings{

}
.footer_lings h3{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}


.footer_lings ul {
    margin: 0px;
    padding: 0px;
}

.footer_lings ul li{
    list-style-type: none;
    margin: 0px;
    margin-bottom: 5px;
}

.footer_lings ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.footer_lings ul li a img{
    width: 20px;
    margin-right: 8px;
    transition: 0.5s ease;
}

.footer_lings ul li a:hover img{
        margin-left: 5px;
}

/* contact_details */
    .contact_details{
        position: relative;
        z-index: 9;
    }

    .contact_details h3{
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 10px;
        font-size: 25px;
        font-weight: 500;
        color: #fff;
    }
    .contact_details h5{
        display: flex;
        margin-left: 7px;
    }

    .contact_details h5 i{
        height: 20px;
        width: 20px;
        color: #e4097f;
        margin-top: 7px;
        font-size: 16px;
    }

    .contact_details p{
        width: 300px;
        margin: 0px;
        margin-left: 2px;
        color: #ebebeb;
        font-weight: 400;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 8px;
        padding: 0px;
    }



/* footer_social_icons i */

.footer_social_icons {
    display: flex;
    margin-bottom: 25px;
}
.footer_social_icons_hd h4{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.footer_social_icons img {
    width: 45px;
    transform: rotate(0deg);
    transition: 0.9s ease;
    margin-bottom: -30px;
}

.foot_line {
    background-color: #fff;
    width: 91%;
    height: 1px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

.foot_line2 {
    background-color: #fff;
    width: 91%;
    height: 1px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 2px;
    justify-content: center;
}



/* svapps footer */
.footer_right{
    position: relative;
    z-index: 9;
    margin-top: 10px;
}

.footerbottom1{

}

.footerbottom1 h5 {
    font-size: 14px;
    margin-top: 12px;
    color: #fff;
}

.footerbottom2{
    float: right;
    margin-right: 90px;
}


.footerbottom2 h4 {
    font-size: 14px;
    color: #fff;
    margin-top: 12px;
}

.svapps_logo {
    width: 80px;
}

/* ====================-----------------=================== */

/* ====================-----------------=================== */














/* ==================================================================-------------------------============== */
/* =======================================------------------------------------------==================================== */

/*  */

@media (max-width:1200px) {
    .services_sec_hmbox::after {
        position: absolute;
        top: 35%;
        left: 6px;
        width: 197px;
    }   
    
    .meet_our_space_left_cnt h4 {
        font-size: 25px;
    }
    
    .meet_our_space::after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 260px;
        width: 1063px;
    }




    .footer_lings ul li a {
        font-size: 13px;
    }

    .footer_logo p {
        color: #ffffffe8;
        font-size: 13px;
    }
    .foot_line {
        margin-top: 25px;
    }
    .about_sec_hm_rpic2 {
        width: 250px;
        height: 250px;
    }
    .about_sec_home_right::after{
        display: none;
    }
    .testimonial_sec::after {
        width: 262px;
        height: 387px;
    }
    
    .hm-cont-img img{
    width:100%;
    }
        
}

@media (max-width:1100px) {
    .meet_our_space_left_cnt {
    margin-top: 40%;
    padding-left: 62px;
}
    .footer_section::after {
        top: 25px;
        right: 20px;
        width: 1220px;
    }
    .footer_section::after {
        height: 1020px;
    }
    .testimonial_sec::after {
        display: none;
    }
       .entertainment_box h3 {
    font-size: 26px !important;
    } 

}

@media (max-width:992px) {
    .meet_demo_cl{
        display: none !important;
    }

    .meet_our_space::after {
        position: absolute;
        content: '';
        bottom: 0px;
        top: 50px;
        left: 50px;
        width: 100%;
    }

}



@media (max-width:991px) {
    .about_sec_home_right {
        position: relative;
        height: 400px;
        padding-top: 30px;
    }
    .about_sec_hm_rpic2 {
        width: 325px;
        height: 250px;
    }
    .about_sec_hm_rpic1 {
        width: 350px;
        height: 265px;
    }

    .services_sec_hmbox::after {
        position: absolute;
        top: 53%;
        left: 10px;
        width: 310px;
        display: none;
    }
    .services_sec_hmbox_ct h3 {
        font-size: 19px;
    }
    .ourclients-main-heading-sec p {
        padding: 5px 0px;
    }
    .testimonial_sec::after{
        display: none;
    }

    .wding_cps{
        text-align: center;
        height: auto;
    }

    .wding_cps img {
        margin: 0px;
        height: 480px;
    }


    .footer_lings ul li a {
        font-size: 14px;
    }
    .foot_line {
        margin-top: 35px;
    }
    .footerbottom1 h5{
        text-align: center;
    }
    .footerbottom2 {
        float: inherit;
        margin-right: 0px;
        text-align: center;
    }


    .logo img {
        width: 100px;
    }
    
.logo::after{
    width: 100px;
    height: 100px;
}

@keyframes shapeMover2 {
    0%{
        width: 140px;
        height: 140px;
    }
    50%{
        width: 143px;
        height: 143px;
    }
    100%{
        width: 145px;
        height: 145px;
    }
  

}
}

@media (max-width: 820px){
    .meet_our_space::after {
        left: 30px;
    }
 

}

@media (max-width:768px) {
    .meet_our_space_left_cnt {
    margin-top: 20% !important;
}
    .services_sec_hmbox::after {
        top: 42%;
        left: 10px;
        width: 223px;
    }
    .wding_cps img {
        margin: 0px;
        height: auto;
        width: 100%;
    }

    .wding_cps img{
        width: 100% !important;
    }
    .vision {
        border: 2px solid #e40b7f;
        padding: 10px;
        height: auto !important;
        margin-bottom: 8px;
    }
    .links {
        padding: 0px !important;
    }

}

@media (max-width:600px) {
    .meet_our_space_left_cnt {
    margin-top: 0px !important;
}
    .abt-cnt h1 {
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 50px;
        font-size: 18px;
    }
    .section-title h2 {
        color: #1b1b1b;
        /* font-family: raleway; */
        font-size: 25px !important;
    }
}

@media (max-width:576px) {
    .services_sec_hmbox::after {
        top: 73%;
        display: none;
        left: 16px;
        width: 94%;
    }
    .meet_our_space::after {
        left: 0px;
        width: 98%;
        border-radius: 0px 30px 30px 0px;
        height: 680px;
    }
    .about_sec_home_left h3 {
        font-size: 27px;
    }    
    .about_sec_home {
        padding: 30px 0px;
    }

    .footer_section_total {
        background-image: linear-gradient(45deg, rgb(0 0 0 / 25%), rgb(0 0 0 / 20%)), url(../images/pngs/overlay-left2.png);
        background-color: rgb(0 0 0);
    }
    .footer_section::after{
        display: none;
    }
    .foot_line2 {
        background-color: #fff;
        width: 95%;
        margin-left: 10px;
        margin-top: 2px;
        justify-content: center;
    }

    .foot_ser2{
        display: none;
    }
    .footer_section {
        padding: 5px 0px 0px 0px;
    }

    .footer_logo img {
        border: 1px solid #ffffff61;
        padding: 1px;
        width: 60%;
        border-radius: 4px;
    }
    .about_sec_hm_rpic2{
        display: none;
    }
    .about_sec_home_right {
        position: relative;
        height: 315px;
    }
}

@media (max-width:425px) {
    .meet_our_space::after {
        height: 625px;
    }

    .about_sec_hm_rpic1 {
        width: 100%;
        height: auto;
        position: relative;
        left: inherit;
    }
    .about_sec_home_right {
        position: relative;
        height: 230px;
        padding-top: 30px;
    }
   
    .logo img {
        width: 60px;
    }
    .logo::after{
        width: 100px;
        height: 100px;
    }
    
    @keyframes shapeMover2 {
        0%{
            width: 100px;
            height: 100px;
        }
        50%{
            width: 100px;
            height: 100px;
        }
        100%{
            width: 100px;
            height: 100px;
        }
      
    
    }
    .main-slider .content-column .inner-column {
        margin-top: 10px;
    }
}


@media (max-width:380px) {
    
}









/* banner section */
.banner-sec1 img{
    width: 100%;
}
.main-slider {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-seven);
}

.main-slider .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider .slide:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background: url(../images/main-slider/shadow-layer.png);
    background-repeat: repeat-y;
}

.main-slider .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 120px 0px 70px;
}

.main-slider .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider .slide .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.main-slider .slide .pattern-layer-two {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 253px;
    height: 297px;
    z-index: 1;
}

.main-slider .content-column {
    position: relative;
    z-index: 2;
}

.main-slider .content-column .inner-column {
    position: relative;
    margin-left: 15px;
}

.main-slider h1 {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    color: #fff;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: 30px;
    font-size: 70px;
    line-height: 1em;
    font-weight: 600;
}

.main-slider .active h1 {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider .text {
    opacity: 0;
    max-width: 580px;
    transform: scaleY(0);
    transform-origin: top;
    color: #d9d9d9;
    font-size: 18px;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: 35px;
    line-height: 28px;
}

.main-slider .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider .owl-dots {
    display: none;
}

.main-slider .owl-nav {
    position: absolute;
    right: 12%;
    top: 50%;
    width: 60px;
    transform: translateY(-50%);
}

.main-slider .owl-nav .owl-prev,
.main-slider .owl-nav .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    color: var(--black-color);
    background-color:#fff;
    margin-bottom: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: "Flaticon";
}

.main-slider .owl-nav .owl-prev:hover,
.main-slider .owl-nav .owl-next:hover {
    color: #fff;
    background-color: #152300;
}

/*** 

====================================================================
	Main Slider Two
====================================================================

***/

.main-slider-two {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-seven);
}

.main-slider-two .social-box {
    position: absolute;
    left: 30px;
    bottom: 150px;
    z-index: 10;
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main-slider-two .social-box li {
    position: relative;
    display: inline-block;
    margin-top: var(--margin-top-40);
}

.main-slider-two .social-box li a {
    position: relative;
    font-size: var(--font-16);
    color: var(--white-color);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-slider-two .social-box li a:hover {
    color: var(--color-twentyeight);
}

.main-slider-two .social-box li a::before {
    transform: rotate(90deg);
    display: inline-block;
}

.main-slider-two .social-box li span {
    position: relative;
    display: inline-block;
    margin-left: var(--margin-left-5);
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-two .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider-two .image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    opacity: 0.50;
    background: var(--color-twentynine);
}

.main-slider-two .image-layer:after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 60%;
    bottom: 0px;
    z-index: 1;
    background: var(--main-color);
    background: -webkit-linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
}

.main-slider-two .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 200px 0px 270px;
}

.main-slider-two .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider-two .content-column {
    position: relative;
    z-index: 2;
}

.main-slider-two .content-column .inner-column {
    position: relative;
}

.main-slider-two .title {
    position: relative;
    opacity: 0;
    font-weight: 700;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-30);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-two .title span {
    color: var(--color-twentyeight);
}

.main-slider-two .active .title {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-two h1 span {
    color: var(--color-twentyeight);
}

.main-slider-two h1 {
    opacity: 0;
    font-weight: 800;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
}

.main-slider-two .active h1 {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-two .text {
    opacity: 0;
    max-width: 580px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--color-six);
    font-size: var(--font-18);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-35);
}

.main-slider-two .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider-two .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-two .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-two .phone-box {
    position: relative;
    margin-left: var(--margin-left-30);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-two .phone-box .box-inner {
    position: relative;
    font-weight: 700;
    color: var(--white-color);
    font-size: var(--font-16);
    padding-top: var(--padding-top-50);
    padding-left: var(--padding-left-110);
}

.main-slider-two .phone-box .box-inner:before {
    position: absolute;
    content: '';
    left: 40px;
    top: 40px;
    width: 64px;
    height: 59px;
    background: url(../images/icons/slider-icon.png) no-repeat;
}

.main-slider-two .phone-box .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    font-family: "Flaticon";
    color: var(--white-color);
    font-size: var(--font-20);
    background-color: var(--color-twentyseven);
}

.main-slider-two .phone-box strong {
    position: relative;
    display: block;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    /*font-family: var(--font-family-Poppins);*/
}

.main-slider-two .active .phone-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-two .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 206px;
    z-index: 10;
    background-position: center bottom;
    background-size: cover;
}

.main-slider-two .owl-dots {
    display: none;
}

.main-slider-two .owl-nav {
    position: absolute;
    right: 60px;
    top: 50%;
    width: 60px;
    transform: translateY(-50%);
}

.main-slider-two .owl-nav .owl-prev,
.main-slider-two .owl-nav .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: var(--font-18);
    color: var(--color-thirty);
    border: 2px solid var(--color-thirty);
    margin-bottom: var(--margin-bottom-15);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: "Flaticon";
    background-color: rgba(var(--black-color-rgb), 0.1);
}

.main-slider-two .owl-nav .owl-prev:hover,
.main-slider-two .owl-nav .owl-next:hover {
    color: var(--white-color);
    border-color: var(--main-color);
    background-color: var(--main-color);
}

/*** 

====================================================================
	Main Slider Three
====================================================================

***/

.main-slider-three {
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.main-slider-three .social-box {
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: 10;
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main-slider-three .social-box li {
    position: relative;
    display: inline-block;
    margin-top: var(--margin-top-40);
}

.main-slider-three .social-box li a {
    position: relative;
    font-size: var(--font-16);
    color: var(--white-color);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-slider-three .social-box li a:hover {
    color: var(--color-fourtytwo);
}

.main-slider-three .social-box li a::before {
    transform: rotate(90deg);
    display: inline-block;
}

.main-slider-three .social-box li span {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-three .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider-three .image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    opacity: 0.70;
    background: var(--color-fourty);
}

.main-slider-three .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 80px 0px 270px;
}

.main-slider-three .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider-three .content-column {
    position: relative;
    z-index: 2;
}

.main-slider-three .content-column .inner-column {
    position: relative;
    padding-top: var(--padding-top-110);
}

.main-slider-three .title {
    position: relative;
    opacity: 0;
    font-weight: 700;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-24);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    text-transform: uppercase;
    margin-bottom: var(--margin-bottom-25);
}

.main-slider-three .active .title {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-three h1 span {
    color: var(--color-fourtytwo);
}

.main-slider-three h1 {
    opacity: 0;
    font-weight: 800;
    line-height: 75px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-65);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
}

.main-slider-three .active h1 {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-three .text {
    opacity: 0;
    max-width: 540px;
    line-height: 30px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--color-six);
    font-size: var(--font-18);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-35);
}

.main-slider-three .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider-three .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-three .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-three .image-column {
    position: relative;
    z-index: 10;
}

.main-slider-three .image-column .inner-column {
    position: relative;
}

.main-slider-three .image-column .image {
    position: relative;
    border-radius: 5px;
    margin-right: -50px;
    border: 6px solid var(--color-thirtytwo);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-three .active .image-column .image {
    opacity: 1;
    transform: scaleX(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-three .pattern-layer {
    position: absolute;
    left: -6px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-position: left bottom;
    background-size: cover;
}

.main-slider-three .client-thumb-outer {
    position: absolute;
    left: -100px;
    right: 15px;
    bottom: 55px;
    z-index: 999;
    max-width: 330px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-item .thumb-box {
    z-index: 999;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-item .author-info {
    opacity: 1;
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel {
    position: relative;
    max-width: 90px;
    margin: 0 auto;
    text-align: center;
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel .owl-stage-outer {
    overflow: visible;
}

.main-slider-three .client-thumb-outer .thumb-item .thumb-box {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 4px solid var(--white-color);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    transform: scale(0.9, 0.9);
}

.main-slider-three .client-thumb-outer .owl-item {
    z-index: 0;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-box {
    border-color: var(--color-fourtytwo);
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel .thumb-item img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0%;
}

.main-slider-three .owl-dots,
.main-slider-three .owl-nav {
    display: none;
}
.cta-section .pattern-layer,
.cta-section .pattern-layer-two,
.news-section .pattern-layer-two,
.products-section .pattern-layer-three,
.products-section .pattern-layer-five,
.products-section .pattern-layer-four,
.news-section .pattern-layer-three,
.team-section-two .pattern-layer,
.main-slider .slide .pattern-layer-two,
.footer-style-two .pattern-layer-two,
.welcome-section .pattern-layer,
.service-section-two .pattern-layer-three {
    animation-name: float_up_down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float_up_down;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float_up_down;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float_up_down;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float_left_right;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
@-webkit-keyframes rotateme {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
}

@-moz-keyframes rotateme {
    0% {
        -moz-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -moz-transform: rotate(360deg);
        opacity: 1;
    }
}

@-o-keyframes rotateme {
    0% {
        -o-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -o-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -o-transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.services-section-two .upper-box .icon-two,
.services-section-two .upper-box .icon-three,
.about-section .images-column .pattern-layer {
    animation-name: rotateme;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 15s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

/* Bob Up Down*/

@-webkit-keyframes float_up_down {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes float_up_down {
    0% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.services-section-two .upper-box .icon-one {
    animation-name: float_up_down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float_up_down;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float_up_down;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float_up_down;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float_left_right;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.btn-style-one {
    position: relative;
    line-height: 30px;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    display: inline-grid;
    padding: 9px 14px;
    color: #fff;
    border-radius: 36px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #152300;
    /* font-family: var(--font-family-BeVietnam); */
    text-decoration: none !important;
}

.btn-style-one .txt {
    position: relative;
    z-index: 1;
}

.btn-style-one:before {
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 1;
    background: var(--color-two);
}

.btn-style-one i {
    position: relative;
    z-index: 1;
    font-style: normal;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
}

.btn-style-one:hover {
    color: #fff;
}

.btn-style-one:hover:before {
    top: -40%;
}
/*section end here*/
.carousel-item img{
    width: 100%;
    height: 100%;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}


.owl-carousel {
    display: inherit !important;
}


.flaticon-left-arrow:before {
    content: "\f118";
}



/* ////////////////////////////////////////////// */
/* inner pages started */


.inner_serv_hedding{
    padding: 50px 0px 10px 0px;
    margin-top: 100px;
    background-image: linear-gradient(45deg, rgb(228 9 127 / 25%), rgb(170 7 95 / 20%)), url(../images/pngs/bg_pattern_1.png);
    background-color: rgb(228 9 127);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left;
    margin-top: 0px;
    position: relative;
    overflow-x: clip;
}

.inner_serv_hedding::before{
    position: absolute;
    top: -20px;
    left: -21px;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(228 9 127 / 25%), rgb(170 7 95 / 20%)), url(../images/pngs/bg_pattern_1.png);
    background-color: rgb(228 9 127);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left;
    content: '';
}
.serv_inner_banner_wgm{
    position: absolute;
    bottom: -37px;
    left: 124px;
    width: 97%;
    height: 37px;
}
.serv_inner_banner_wgm2{
    position: absolute;
    bottom: -165px;
    left: -15px;
 
    height: 160px;
}

/* .inner_serv_hedding::after{
    position: absolute;
    bottom: 0px;
    left: 1px;
    width: 100px;
    height: 12px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(228 9 127 / 25%), rgb(170 7 95 / 20%)), url(../images/pngs/banner_nv.png);
    background-color: rgb(228 9 127);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left;
    content: '';
    clip-path: polygon(100% 0, 0 0, 50% 100%);
} */



.inner_serv_hedding{
    text-align: center;
}

.inner_serv_hedding h3{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    font-family: 'Cinzel Decorative';
}

.inner_Wedding_banner{
    margin-top: 70px;
}
.inner_Wedding_banner1 {
    margin-top: 40px;
}
.inner_wedding_left{

}

.inner_wedding_left img{
    width: 100%;
    box-shadow: 0 0 18px rgb(1 1 1 / 15%);
    padding: 20px;
    margin: 0 0 30px 0;
}
.inner_wedding_left h3{
    margin-top: -10px;
}
.inner_wedding_left h3 span{
    font-size: 35px;
    font-family: auto;
    color: #e30a7e;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px solid #e30a7e;
}

.inner_wedding_left h3::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}





.inner_wedding_right{
    background: #ffeb3b;
    padding: 15px 15px;
}

.inner_wedding_right h3{

}
.inner_wedding_right ul{

}
.inner_wedding_right ul li{
    list-style-type: none;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
    margin: 8px 0px;
}

.inner_wedding_right ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 600;

}


.innerabout {
    /* margin-top: -40px; */
    position: relative;
}

.innerabout img {
    width: 100%;
    height: 350px;
}

.innerabthed {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerabthed h4 {
    background-color: #fff;
    padding: 10px 23px;
    border: 14px;
    color: #f04c53;
    border: 2px solid #f04c53;
}

/* gallery page css starts */
#gallery {
    padding: 0px 0px 40px;
}
#gallery1 {
    padding: 80px 0px;
}
/* @media screen and (min-width: 991px) {
    #gallery {
      padding: 60px 30px 0 30px;
    }
  } */

.img-wrapper {
    position: relative;
    margin-top: 7px;
}

.img-wrapper img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay i {
    color: #fff;
    font-size: 3em;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    #overlay img {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    #overlay img {
        width: 50%;
    }
}

#nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#nextButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #nextButton {
        font-size: 3em;
    }
}

#prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#prevButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #prevButton {
        font-size: 3em;
    }
}

#exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #exitButton {
        font-size: 3em;
    }
    .career-btn {
    width: 15% !important;
}
}


/* gallery page css ends */


/* contact us page css starts */
.pb-90 {
    padding-bottom: 30px;
}

.pt-90 {
    padding-top: 90px;
}

.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    color: #1b1b1b;
    /* font-family: raleway; */
    font-size: 36px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-family: 'Cinzel Decorative';
}

.section-title h2 span {
    color: #e40b7f;
}

.section-title.text-center>p {
    color: #333333;
    font-size: 15px;
    margin-top: 10px;
}

.single-box {
    border: 1px solid #f1f1f1;
    min-height: 250px;
    padding: 50px 0 20px;
    transition: all 0.3s ease 0s;
    background-color: #e40b7f;
}

.single-box i {
    font-size: 40px;
    margin-bottom: 36px;
    transition: all 0.3s ease 0s;
    color: #fff;
}

.single-box h3 {
    /* font-family: lato; */
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.single-box p {
    color: #fff;
    /* font-family: latomedium; */
    font-size: 17px;
    margin-bottom: 0;
}

.contact-form-area {
    background: #f1f1f1 none repeat scroll 0 0;
}

.pb-60 {
    padding-bottom: 30px;
}

.pt-90 {
    padding-top: 60px;
}

.form-fields {
    float: left;
    /* margin-right: 2.8%; */
    width: 100%;
}

.form-fields label {
    display: block;
    /* font-family: Raleway; */
    font-size: 16px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.form-fields>input {
    border: medium none;
    height: 50px;
    padding: 0 15px;
    width: 100%;
}

.last {
    margin-right: 0%;
    margin-bottom: 25px;
}

.message-fields {
    clear: both;
    padding-top: 20px;
}

.message-fields>label {
    display: block;
    /* font-family: Raleway; */
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.message-fields textarea {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 20px;
    width: 100%;
}

.form-button {
    margin-top: 20px;
}

.form-button button {
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.con-field {
    /* outline: inherit;
    border-width: medium medium 1px; */
    border: 0;
    outline: 0;
    padding: 0px 12px;
    /* -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; */
    display: block;
    width: 100%;
    margin-top: 1em;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    resize: none;
    margin-bottom: 18px;
}

/* contact us page css ends */

/* careers page css starts */
.careers {
    padding: 40px 0px;
}

#contact-form input {
    width: 100%;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 4px 5px;
    outline: none !important;
    background-color: #fff;
    border: 1px solid #212529;
    color: #212529;
    border-radius: 6px 6px 6px 6px;
}

.career-btn {
    width: 10%;
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: none !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #000 !important;
    outline: 0;
    box-shadow: none !important;
}

.career-job span {
    font-weight: 600;
    font-size: 18px;
}

.career-job p {
    font-size: 18px;
}

.career-job li {
    font-size: 18px;
    margin-bottom: 10px;
}

.career-job {
    padding-bottom: 40px;
}

/* careers page css ends */
.abt-sec {
    padding: 60px 0px 0px;
}
.abt-img img{
    width: 100%;
}
.abt-cnt h3{
    font-size: 30px;
    color: #f6c876;
}
.about-process{
    margin-top: 30px;
}
.links{
    padding: 30px;
}
.vision img{
    width: 70px;
}
.vision{
    border: 2px solid #e40b7f;
    padding: 10px;
    height: 450px;
}
.mission{
    padding-bottom: 30px;
}
.career-btn input{
    background-color: #e40b7f !important;
    color: #fff !important;
    border: 1px solid #e40b7f !important;
}

.inner_servis_menpage{
    height: 120px;
    width: 100%;
}


.footer-marquee {
    border-radius: 1px 7px 1px 13px;
    border-left: 4px solid #fa6870;
    border-right: 4px solid #fa676f;
}
.footer-marquee img {
    height: 100px;
}
.nav_scroll_pngs{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}






@media screen and (max-width: 1200px) {
    .footer-marquee img {
        margin-top: 10px;
    }
    .footer-marquee img {
        height: 70px;
    }
    .nav_scroll_pngs{
        padding: 0px 20px;
    }
    .inner_serv_hedding h3 {
        font-size: 30px;
    }
}





@media screen and (max-width: 991px){
    .serv_inner_banner_wgm2 {
        bottom: -80px;
        left: -12px;
        height: 132px;
        height: 110px;
    }
    .inner_serv_hedding::before {
        top: -20px;
        left: -20px;
        width: 165px;
        height: 165px;
    }

    .inner_serv_hedding h3 {
        font-size: 25px;
    }
    .serv_inner_banner_wgm {
        bottom: -37px;
        left: 90px;
        width: 112%;
        height: 37px;
    }
}


@media screen and (max-width: 768px){
    .serv_inner_banner_wgm {
        width: 130%;
    }
    .serv_inner_banner_wgm2{
        display: none;
    }
    .inner_serv_hedding h3 {
        font-size: 18px;
        width: 240px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 600px){
    .inner_serv_hedding h3 {
        font-size: 18px;
        width: 240px;
        margin: 25px 25px 0px auto;
    }
    .serv_inner_banner_wgm {
        width: 162%;
        left: -30px;
    }
}


@media screen and (max-width: 428px){
    .inner_serv_hedding::before{
        display: none;
    }
    .inner_serv_hedding h3 {
        font-size: 15px;

    }
}






/* ppppppppppppppppp */

.entertainment_blogs{

}

.entertainment_box{
    margin-top: 40px;
}

.entertainment_box img{
    width: 100%;
}

.entertainment_box h3 {
    font-size: 28px;
    font-family: auto;
    color: #e30a7e;
    position: relative;
    font-weight: 700;
    padding-bottom: 0px;
}


.entetranment_btns{

}

.entetranment_btns a{
    z-index: 1;
    height: 50px;
    width: 190px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    padding-right: 35px;
    border-radius: 30px;
    position: relative;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(98deg, #e4097f 1%, #ff70bd 100%);
    padding: 6px 13px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    font-size: 18px;
}









/* vajraa_categories_cols */

.vajraa_categories{
    overflow: hidden;
    overflow: hidden;
}

.about_xtevents{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.vajraa_categories_cols{
    height: 580px;
    width: 100%;
    position: relative;
    background-color: #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
}



.vajraa_categories_cols_text{
    position: absolute;
    margin: 0 auto;
    bottom: 13px;
    width: 100%;
    top: 45%;
}


.vajraa_categories_cols1{
    background-color: #eeeeee;
    background-image: linear-gradient(45deg, #b30f83fc, #b31183b8), url("../images/gl/wedding (1).jpg");
    transition: 0.5s ease;
}

.vajraa_categories_cols1:hover{
    background-image: linear-gradient(45deg, #7e185ffc, #821461b8), url("../images/gl/wedding (1).jpg");
}


.vajraa_categories_cols2{
    background-color: #5f5f5f;
    transition: 0.5s ease;
    background-image: linear-gradient(45deg, #11a3b6, #15727ab8), url(../images/pp2.jpg);
}


.vajraa_categories_cols2:hover{
    background-image: linear-gradient(45deg, #127a88, #114f55b8), url(../images/pp2.jpg);
}


.vajraa_categories_cols3{
    background-color: #eeeeee;
    transition: 0.5s ease;
    background-image: linear-gradient(45deg, #cc2821d4, #00000075), url(../images/pp3.jpg);
}
.vajraa_categories_cols3:hover{
    background-color: #eeeeee;
    background-image: linear-gradient(45deg, #7c201dd4, #00000075), url(../images/pp3.jpg);
}


.vajraa_categories_cols4{
    background: #4a4a4a; 
    background-image: linear-gradient(45deg, #ffc107b3, #ffc10794), url(../images/pp4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
}

.vajraa_categories_cols4:hover{
    background-image: linear-gradient(45deg, #1c6b8fc7, #16658ab3), url(../images/pp4.jpg);
}


.vajraa_categories_cols_text h3{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    position: relative;
    color: #ffffff;
    font-family: 'Cinzel Decorative', cursive;
}

.vajraa_categories_cols_text a:hover{
    text-decoration: none !important;
    color: #e30a7e;
}





.vajraa_categories_cols_text h3::before{
    position: absolute;
    content: '';
    bottom: -6px;
    left: 70px;
    background-color: #f0f0f0;
    height: 1px;
    width: 200px;
}


.vajraa_categories_cols_text h3::after{
    position: absolute;
    content: '';
    bottom: -14px;
    left: 115px;
    background-color: #f0f0f0;
    height: 1px;
    width: 100px;
    margin: 0 auto;
}

.about_xtevents_left{
    
}


.about_xtevents_left::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-color: #ffffff00;
    width: 98px;
    height: 660px;
    z-index: -1;
    border-right: 1px solid #ffffff;
}


.about_xtevents_left_text ul{
    width: 700px;
    display: flex;
    transform: rotate(270deg);
    margin-left: -288px;
    margin-top: 250px;
    justify-content: center;
}


.about_xtevents_left_text ul li{
    list-style-type: none;
    margin: 9px 7px;
    width: 90px;
    text-align: center;
    height: 40px;
    /* background-color: #eeeeee; */
    display: flex;
    text-align: center;
    justify-content: center;
}

.about_xtevents_left_text ul li a{
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: 0.5s ease;

}
.about_xtevents_left_text ul li a:hover{
    color: #e3097b;
}



.about_xtevents_left_text ul li a:hover{
    text-decoration: none !important;
}
















.about_xtevents_mdl{

}


.about_xtevents_rght img{
    width: 100%;
}

.about_xtevents_mdl_logo{
    position: relative;
    z-index: 2;
    margin-left: -7px;
    margin-top: -7px;
    width: 130px;
    border-radius: 50%;
}

.about_xtevents_mdl{
    margin-top: 30px;
}

.about_xtevents_mdl h4{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 20px;
    color: #e4097f;
    font-size: 30px;
    font-weight: 500;
}

.about_xtevents_mdl h5{

}

.about_xtevents_mdl h5 span{
    border-bottom: 1px solid #000;
}


.about_xtevents_mdl ul{

}

.about_xtevents_mdl ul li a{
    text-decoration: none;
    color: #000;
}






.banner_inner_abt{
    position: relative;
}
.banner_inner_abt img{
    width: 100%;
}

.about_banner_mdl_logo{
    position: absolute;
    z-index: 2;
    margin-left: 0px;
    margin-top: 0px;
    width: 130px !important;
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

.abt_row_n{
    margin-top: 50px;
    margin: 0px !important;
}

.abt-about_sec_home_right{
    margin-top: 20px;
}

@media (max-width:991px) {
    .left_navber{
        display: none;
    }    
}


/* Popup */
.popup_logo{
    position: relative;
}
.popup_logo img{
    position: absolute;
    z-index: 2;
    width: 130px;
    border-radius: 50%;
    top: 37%;
    left: 50%;
    transform: translate(-50% , 10%);
    border: 3px solid #fff;
}


#delayedPopup .modal {
    display: block;
    position: fixed;
    z-index: 111;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 5px;
}

#btnClose {
    position: absolute;
    right: 0px;
    top: 15px;
    padding: 2px 12px;
    color: #f9f2f2;
    background: #F44336;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    z-index: 9;
    opacity: 1;
}

.dly-ttl {
    font-size: 20px;
    padding: 0px 8px;
    margin-top: 5px;
}

.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
    position: relative;
}

.brochure-sec {
    text-align: center;
    background: #e9e9e9;
    padding: 8px 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95% !important;
    margin: auto !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.inner_crpt_popup{
    padding: 20px 0px;  
}


.inner_crpt_popup h3{
    margin-top: -10px;
}
.inner_crpt_popup h3 span {
    font-size: 35px;
    font-family: auto;
    color: #e30a7e;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px solid #e30a7e;
}

.inner_crpt_popup p{ 
    
}

@media (max-width:1200px) {
    .vajraa_categories_cols_text h3 {
        font-size: 20px;
    }
    .vajraa_categories_cols_text h3::before {
        background-color: #f0f0f0;
        height: 1px;
        width: 130px;
        display: none;
    }
    .vajraa_categories_cols_text h3::after {
        display: none;
    }
    .services_sec_hmbox_ct {
       
    height: 290px !important;

    }
}







/* popup inner pages */

.banner_section_spt{

}
.banner_section_spt img{
    width: 100%;
 
}



.movies_text_col{
    margin-bottom: -65px;
    position: relative;
    z-index: 1;
}


@media (max-width:991px) {
    .about_xtevents_left_text ul{
        display: none;
    }
    body{
        overflow-x: hidden !important;
    }
    .services_sec_hmbox_ct {
        height: auto !important;
    }
    
}
@media (max-width: 500px){
    .services_sec_hm::before {
        top: 80px;
    }
    .inner_wedding_left h3 {
    margin-top: 5px;
    }
    .inner_wedding_left span {
        font-size:17px;
    }
    .inner_wedding_left h3 span {
    font-size: 21px;
    }
}

@media (max-width: 400px){
    .logo::after{
        display: none !important;
    }
    .p-0 {
    padding: 1!important;
}

}
.about_xtevents div .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
}
.inner_wedding_left span{
    font-weight: 700;
    font-size: 18px;
    color: #e30a7e;
}