
.testimonial{
    margin: 50px 30px 30px 30px;
    text-align: center;
    position: relative;
}
.testimonial .description{
    padding: 30px;
    margin-bottom: 20px;
    border-left: 1px solid #dd097b;
    font-size: 15px;
    color: #727272;
    line-height: 33px;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    content: "";
    width: 20%;
    height: 1px;
    background: #dd097b;
    position: absolute;
    top: 0;
    left: 0;
}
.testimonial .description:after{
    top: auto;
    bottom: 0;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #dd097b;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
    position: relative;
}
.testimonial:before, .testimonial .title:before {
    content: "";
    width: 1px;
    height: 20px;
    background: #dd097b;
    margin: 0 auto;
    position: absolute;
    top: -30px !important;
    left: 0;
    right: 0;
}
.testimonial .title:before{ top: -80px; }
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #000;
    outline: 2px solid #000;
    outline-offset: 2px;
    margin-right: 8px;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #d54f86;
    outline: 2px solid #d14e84;
}