<div class="container-fluid">
  <div class="row">
    <div class="col-12">
       <h1 class="header">Anniversary</h1>
    </div>
</div>
  <div class="container" *ngFor="let event of event">
    <div class="row">
      <div class="col-12 col-md-10">
       <img src="{{event.imgsrc}}">
      </div>
      <div class="col-12 col-md-2">
        <table border="1px solid black">
           <th>
            Service List
           </th>
           <tr>Anniversary</tr><br>
           <tr>Corporate Events</tr><br>
           <tr>MICE Events</tr><br>
           <tr>Movie Publicity & Promotions</tr><br>
           <tr>Sports Events</tr><br>
           <tr>Media Planners</tr><br>
           <tr>Celebrity Management</tr><br>
        </table>
      </div><br><br><br>
      <div class="container">
        <h2 style="color:#4070f4">Anniversary</h2>
        <p style="font-size:20px;">
          Weddings mark the start of a new chapter in a couple's life and celebrate their love and commitment to each other.<br><br>A Wedding is a marriage ceremony where legally or formally recognized union of two people as partners in a<br> personal relationship. Wedding conventions and traditions shift incredibly between societies, ethnic gatherings,<br> religions, nations, and social classes. Most wedding functions include a trade of marriage promises by the couple,<br> introduction of a blessing offering, ring representative thing, blossoms, cash, and an open announcement of<br> marriage by a specialist figure.<br><br>Extraordinary wedding articles of clothing are frequently worn, and the function is at times taken after by a wedding<br> gathering. Music, petitions, readings or religious writings are likewise regularly consolidated into the service. We as a<br> Wedding Planners make your dream come true by providing the best wedding event services with our highly<br> professional Wedding Planners Hyderabad.
        </p>
      </div>
      <div class="container">
        <h2 style="color:#4070f4; font-size:20px;">Services We Provide</h2>
        <p style="font-size:20px;">
          Aagan Events is one-stop destination for wedding events we give a comprehensive service that provides everything a couple needs to plan and execute their<br> wedding. Here are services in one-stop destination for weddings include:<br>
          <span style="color:#4070f4; font-size:20px;">Venue:</span>We arrange the Anniversary ceremony with all necessary amenities such as tables, chairs, and lighting.<br>
          <span style="color:#4070f4;font-size:20px;">Catering:</span>We provide a range of menus and international cuisines to meet the needs of the couple and their guests.<br>
          <span style="color:#4070f4;font-size:20px;">Decoration:</span>We hire a team of professional decorators who can create a theme-based décor for the wedding, including flower arrangements, lighting, and<br>
          other decorative elements.<br>
          <span style="color:#4070f4;font-size:20px;">Photography and videography:</span>A team of skilled photographers and videographers capture the moments of the wedding day and create beautiful<br> memories which you will remember the rest of your life.<br>
          <span style="color:#FF3399;font-size:20px;">Hair Make up and Saree Draping:</span>Beauty makeup and saree draping are essential components of event management, especially in Indian weddings<br> and other cultural events. We provide professional makeup artists and saree drapers who are skilled in creating stunning looks that complement the occasion<br> and the individual's style.<br><br> The makeup artist will use their expertise to create a flawless and radiant look for the bride or guests, taking into consideration their<br> skin tone, facial features, and the type of event.<br><br> They provide hair styling services to complete the look. Saree draping is an art that requires a certain level of<br> skill and creativity. We arrange a professional saree draper who can create unique and beautiful drapes that accentuate the individual's body shape and<br> enhance their overall appearance. They use different draping styles and techniques depending on the saree material, occasion, and individual preferences.<br><br>
          <span style="color:#FF3399;font-size:20px;">Entertainment:</span>: A range of entertainment options such as live music, DJ, dance performances, and more will be arranged which will give you outstanding<br> enjoyable nights.<br>
          <span style="color:#FF3399;font-size:20px;">Wedding planning:</span>We manage all aspects of the wedding, from budgeting and scheduling to vendor coordination and on-site management.<br>
          <strong style="color:#FF3399;font-size:20px;">Transportation:</strong>We provide transportation for the couple and their guests from the wedding venue.<br><br>
          We provide all these services under one roof, a one-stop destination for wedding events can offer convenience, flexibility, and peace of mind to the couple,<br> allowing them to enjoy their special day without any hassle or stress.We completely give you a Perfect Wedding. Vajra Events will take the Stress you just sit<br> and enjoy the Perfect wedding.<br>
        </p>
   <div class="container;">
  <div class="row">
     <div class="col-12 col-md-4">
        <div class="card" style="width: 38rem;">
          <img src="/assets/71.jpg" class="card-img-top" alt="...">
        </div>
       </div>

        <div class="col-12 col-md-4">
           <div class="card" style="width: 38rem;">
             <img src="/assets/72.jpg" class="card-img-top" alt="...">
          </div>
         </div>
          <div class="col-12 col-md-4">
             <div class="card" style="width: 38rem;">
               <img src="/assets/73.jpg" class="card-img-top" alt="...">
            </div>
           </div>
      </div>
    </div>
    <div class="container;">
      <div class="row">
     <div class="col-12 col-md-4">
      <div class="card" style="width: 38rem;">
      <img src="/assets/74.jpg" class="card-img-top" alt="...">
      </div>
    </div>
   <div class="col-12 col-md-4">
    <div class="card" style="width: 38rem;">
      <img src="/assets/75.jpg" class="card-img-top" alt="...">
      </div>
   </div>
   <div class="col-12 col-md-4">
    <div class="card" style="width: 38rem;">
      <img src="/assets/76.jpg" class="card-img-top" alt="...">
    </div>
  </div>
 </div>
</div><br>
<footer class="footer" style="background-color:#FF3399;font-size:20px;">
  <div class="container-fluid:" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class=" col-12 col-md-3 col-lg-3 ">
          <div class="container-fluid" style="background-color:#FF3399; color: white;">
              <h3>VAJRA EVENTS</h3>
          </div>
              <p style="color: white">
                We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
              </p>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">USEFUL LINKS</h2>
              <strong style="color: white">HOME</strong><br>
              <strong style="color: white">ABOUT US</strong><br>
              <strong style="color: white">SERVICES</strong><br>
              <strong style="color: white">GALLERY</strong><br>
              <strong style="color: white">CAREER</strong><br>
              <strong style="color: white">CONTACT US</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">SERVICES</h2>
              <strong style="color: white">Wedding&Reception</strong><br>
              <strong style="color: white">Corporate Events</strong><br>
              <strong style="color: white">MICE Events</strong><br>
              <strong style="color: white">Movie Publicity&Promotions</strong><br>
              <strong style="color: white">Birthday Parties</strong><br>
              <strong style="color: white">Sports Events</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <strong style="color: white"> Media Planners</strong><br>
              <strong style="color: white">Celebrity Management</strong><br>
              <strong style="color: white">Occasional Events</strong><br>
              <strong style="color: white">Entertainment</strong><br>
              <strong style="color: white">SFX PRODUCTS</strong><br>
            </div>
        </div>
      </div>
    </div>
</footer>


  </div>

</div>

    </div>


  </div>




