<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../../assets/CRSL1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/CRSL2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/CRSL3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item actie">
      <img src="../../assets/CRSL4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>
<div class="container">
 <div class="row">
  <div class="col-12 col-md-6">
  <h1 style="color: #FF3377">ABOUT US</h1><br>
  <h2 style="color: orange">Aagna events is the one stop event organisation</h2><br><br>
  <p style="font-size: 20px;">
   Developing events after a careful study of the brand and considering its<br> objective. Delivering the best possible to generate maximum response<br> towards the products and clients.<br><br>
 </p>
</div>
<div class="col-12 col-md-6">
  <div class="card" style="width: 50rem;">
  <img src="../../assets/ABV1.jpg">
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-6 col-md-3">
     <h1>VISION</h1><br>
     <p style="font-size: 20px;">
      We are here to let you enjoy your<br> piece of cake while we walk the<br> extra mile for you and offers a “One<br> stop Shoppe” for all your event<br> management requirements.
     </p>
  </div>
  <div class="col-6 col-md-3">
    <h1>MISSION</h1>
    <p style="font-size: 20px;">
      Our humble beginnings have<br> taught us that we are made by our<br> client's happiness and day in and<br> day out we strive to achieve the<br> very best in quality and elegance<br> for the client.<br><br>
    </p>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
  <a routerLink="showwedding"><img src="../../assets/EM1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Anniversary</h5>
          <!-- <p class="card-text">Weddings mark the start of a new chapter in a couple's life and celebrate their love and commitment to each other..</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
    <a routerLink="showsportsevent"><img src="../../assets/EM2.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <!-- <p class="card-text">Sports events serve as a platform for entertainment, excitement, and friendly competition, and can bring..</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
  <a routerLink="showbirthday"><img src="../../assets/EM3.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Birthday</h5>
          <!-- <p class="card-text">Birthday parties are celebrations held to mark the anniversary of a person's birth, involving gifts, cake, food..</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
   <a routerLink="showmedia"><img src="../../assets/EM4.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Media Planners</h5>
          <!-- <p class="card-text">Media planners are professionals specialized in creating and executing advertising..</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
  <a routerLink="showcorporate"><img src="../../assets/EM5.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body>">
     <h5 class="card-title">Corporate events</h5>
      </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
  <a routerLink="showcelebrity"><img src="../../assets/EM6.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body"></div>
          <h5 class="card-title">Celebrity Management</h5>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
   <div class="col-12 col-md-6">
  <h1 style="color:#FF3377;">OUR CLIENTS</h1>
  <p style="font-size: 20px">
    Clients are the backbone of our Event management industry and play a crucial role in determining the success of an event. Vajra events Maintain clear and open communication with clients which is essential for understanding their needs and expectations and ensures that the event meets their goals.
  </p>
</div>
</div><br><br>
<!-- <marque><h1>Welcome to Angular Web Application</h1></marque> -->
<marquee width="60%" direction="right" height="100px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT1.jpg" class="card-img-top" alt="...">
      </div>

    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT2.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT3.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT4.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT5.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT6.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT7.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT8.jpg" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT9.png" class="card-img-top" alt="...">
      </div>
    </div><br>
    <div class="col-12 col-md-1">
      <div class="card" style="width: 6rem;">
        <img src="../../assets/MT10.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    </div>
  </div>
  </marquee>
  <marquee width="60%" direction="left" height="100px">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT11.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT12.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT13.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT14.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT15.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT16.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT17.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT18.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT19.png" class="card-img-top" alt="...">
        </div>
      </div><br>
      <div class="col-12 col-md-1">
        <div class="card" style="width: 6rem;">
          <img src="../../assets/MT20.png" class="card-img-top" alt="...">
        </div>
      </div>
      </div>
    </div>
    </marquee>
<footer class="footer" style="background-color:#FF3399;font-size:20px;">
  <footer class="container-fluid:" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class=" col-12 col-md-3 col-lg-3 ">
          <div class="container-fluid" style="background-color:#FF3399; color: white;">
              <h3>VAJRA EVENTS</h3>
          </div>
              <p style="color: white">
                We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
              </p>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">USEFUL LINKS</h2>
              <strong style="color: white">HOME</strong><br>
              <strong style="color: white">ABOUT US</strong><br>
              <strong style="color: white">SERVICES</strong><br>
              <strong style="color: white">GALLERY</strong><br>
              <strong style="color: white">CAREER</strong><br>
              <strong style="color: white">CONTACT US</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">SERVICES</h2>
              <strong style="color: white">Wedding&Reception</strong><br>
              <strong style="color: white">Corporate Events</strong><br>
              <strong style="color: white">MICE Events</strong><br>
              <strong style="color: white">Movie Publicity&Promotions</strong><br>
              <strong style="color: white">Birthday Parties</strong><br>
              <strong style="color: white">Sports Events</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <strong style="color: white"> Media Planners</strong><br>
              <strong style="color: white">Celebrity Management</strong><br>
              <strong style="color: white">Occasional Events</strong><br>
              <strong style="color: white">Entertainment</strong><br>
              <strong style="color: white">SFX PRODUCTS</strong><br>
            </div>
        </div>
      </div>
    </footer>
</footer>
