<div class="container">
  <h1 align="center" style="color:blue;">Corporate Parties</h1>
  <p style="font-size: 20px;">
    Corporate parties are special events that allow you and your colleagues to celebrate all your hard work. They’re<br>
    ideal for building camaraderie among team members and giving your business a human face. For larger companies,<br>
    corporate parties are also a great way for colleagues who don’t normally work together to meet and network.<br><br>

    Corporate parties not only bring employees closer together, they also help cement your business values and goals<br>
    throughout the organisation. You can announce company updates, share stories about the company, and<br> communicate
    what your business means to both employees and your customers. With our event management solutions, you can ensure
    your brand comes across the right way.<br><br>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card" style="width: 42rem;">
          <img src="../../assets/C1.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card" style="width: 42rem;">
          <img src="../../assets/C2.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card" style="width: 42rem;">
          <img src="../../assets/C3.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h1 style="color:#FF3377;">Complete Corporate Party<br> Management</h1>
      </div>
      <div class="col-12 col-md-8">
        <p style="font-size: 20px;">
          Hosting corporate parties can feel overwhelming if you’re new to event planning. The list of things to do
          seems never-ending. If you aren’t able to put together the corporate party you and your company expect, it can
          be a detriment to your business.<br>

          As a reputable event agency, we offer complete corporate party management solutions. We take care of the small
          details to help prevent larger, less manageable problems from developing. As Purple Patch have been managing
          corporate events for over 15 years, we know exactly what to expect and how to minimise risk for your corporate
          party.


          We help you achieve a successful event by taking it step by step.<br><br>
        </p>
      </div>
    </div>
  </div>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card" style="width: 24rem;">
          <img src="../../assets/CI1.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <div class="card" style="width: 30rem;">
          <img src="../../assets/CI2.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card" style="width: 24rem;">
          <img src="../../assets/CI3.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-info" style="text-align: center; font-size:30px;" >
    <h1>Our Events</h1>
   <div class="row">
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
        <img src="../../assets/CE1.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
        <img src="../../assets/CE2.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 40rem;">
        <img src="../../assets/CE3.jpg" class="card-img-top" alt="...">
      </div>
    </div>
   </div>
  </div><br><br>
  <div class="container">
    <h1 style= "text-align: center; font-size: 30px;">Trusted by brands</h1>
    <p style="font-size: 20px;">
      Our portfolio continues to grow with every passing year, organising dozens of events for small and large organisations. Businesses trust in the expertise and ability of our event planners to find a solution that doesn’t only provide what they need, but delivers beyond expectation. It’s why we’ve managed key events for retail giants such as Sainsbury’s, targeting specific audiences in specialist markets.

After spending so many years in the events industry we’ve established longstanding relationships with suppliers and venues. Like our customers, they know and trust in our ability to put together a professional and well-run corporate event. In turn, this gives us access to preferential booking rates, dates and the best possible deals, making the most of your available budget.


    </p>
    <div class="row">
      <div class="col-10 col-md-2">
        <img src="../../assets/TB1.jpg">
      </div>
      <div class="col-10 col-md-2">
        <img src="../../assets/TB2.jpg">
      </div>
      <div class="col-10 col-md-2">
        <img src="../../assets/TB3.jpg">
      </div>
      <div class="col-10 col-md-2">
        <img src="../../assets/TB4.jpg">
      </div>
      <div class="col-10 col-md-2">
        <img src="../../assets/TB5.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <h1 style="text-align: center;">Simple Communication for Your Corporate Parties</h1><br><br>
    <p style="font-size: 20px;">
      We make your corporate party look effortless, without any of your employees and attendees seeing all the hard work that goes on behind the scenes. At Purple Patch, we’re masters of running corporate events with finesse, operating everything seamlessly so you and your attendees can enjoy yourselves.

When it comes to planning and communication for your corporate parties, we keep things simple for you. Corporate event planning requires more than finding a venue and sending out invitations. It also necessitates decoration, lighting, photography, catering, and event staff management. Purple Patch handle all these elements so you can focus on your company’s goals for your corporate party: building relationships among employees.
    </p>
  </div>
</div>
  <footer>
    <div class="container">
      <div class="container-fluid;" style="background-color:blue;">
       <h2 style="color: white;">Email Us: meaningful@purplepatchgroup.co.in</h2>
       <div class="row">
        <div class="col-12 col-md-6">
          <strong style="color: white;">VIRTUAL EVENTS</strong><br>
          <strong style="color: white;">PRODUCTLAUNCH EVENTS</strong><br><br>
          </div><br><br>
          <div class="col-12 col-md-6">
          <strong style="color: white;">CORPORATE EVENTS</strong><br>
          <strong style="color: white;">AWARD EVENTS</strong><br><br>
        </div><br><br>
        <div class="col-12 col-md-6">
          <strong style="color: white;">EVENTS DESIGN</strong><br>
          <strong style="color: white;">MEET THE TEAM</strong><br><br>
        </div><br><br>
        <div class="col-12 col-md-6">
          <strong style="color: white;">CONFERENCE EVENTS</strong><br>
          <strong style="color: white;">OUR WORK</strong><br><br>
        </div>
        </div>
       </div>
      </div>
  </footer>

