<div class="container mb-4">
  <div class="row">
    <div class="col-12 col-md-4 mt-4">
      <div class="card" style="width: 31rem;">
       <a routerLink="showunique"><img src="../../assets/U1.jpg" class="card-img-top" alt="..."></a>
        <h5 class="card-title" align="center">Corporate parties</h5>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 30rem;">
       <a routerLink="showunique"><img src="../../assets/U2.jpeg" class="card-img-top" alt="..."></a>
       <h5 class="card-title" align="center">Product launches</h5>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 30rem;">
       <a routerLink="showunique"><img src="../../assets/U3.jpg" class="card-img-top" alt="..."></a>
       <h5 class="card-title" align="center">Virtual events</h5>
      </div>
    </div>
  </div>
</div>
