<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="header">CORPORATE EVENTS</h1>
    </div>
   </div>
  <div class="container-fluid" *ngFor="let event of events">
    <div class="row">
      <div class="col-12 col-md-10">
        <img src="{{event.imgsrc}}">
      </div>
      <div class="=col-12 col-md-2">
        <table>
          <th>
            Service List
          </th>
          <tr>Anniversary</tr><br>
           <tr>Corporate Events</tr><br>
           <tr>MICE Events</tr><br>
           <tr>Movie Publicity & Promotions</tr><br>
           <tr>Sports Events</tr><br>
           <tr>Media Planners</tr><br>
           <tr>Celebrity Management</tr><br>
        </table>
      </div><br><br><br>
      <div class="container">
        <h2 style="color:#FF3377">Corporate Events</h2>
        <p style="font-size:20px;">
          Corporate events are important for building and strengthening relationships, promoting and celebrating a company's<br> brand, and fostering team bonding and professional development.<br><br>

We have our good efforts on corporate events for meetings of all sizes, we constantly monitor and update. With our<br> team of highly trained, multilingual and experienced professionals, we are ready to offer you creative and efficient<br> solutions for your corporate event and we also help you in the planning process by managing the time-consuming<br> task for your company meetings.<br><br>
        </p>
      </div><br><br>
      <div class="container">
        <div class="row">
           <div class="col-12 col-md-4">
              <div class="card" style="width: 40rem;">
                <img src="/assets/CDCRP1.jpg" class="card-img-top" alt="...">
              </div>
             </div>

              <div class="col-12 col-md-4">
                 <div class="card" style="width: 40rem;">
                   <img src="/assets/CDCRP2.jpg" class="card-img-top" alt="...">
                </div>
               </div>
                <div class="col-12 col-md-4">
                   <div class="card" style="width: 40rem;">
                     <img src="/assets/CDCRP3.jpg" class="card-img-top" alt="...">
                  </div>
                 </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
               <div class="col-12 col-md-4">
                  <div class="card" style="width: 40rem;">
                    <img src="/assets/CDCRP4.jpg" class="card-img-top" alt="...">
                  </div>
                 </div>

                  <div class="col-12 col-md-4 mt-2">
                     <div class="card" style="width: 40rem;">
                       <img src="/assets/CDCRP5.jpg" class="card-img-top" alt="...">
                    </div>
                   </div>
                    <div class="col-12 col-md-4">
                       <div class="card" style="width: 40rem;">
                         <img src="/assets/CDCRP6.jpg" class="card-img-top" alt="...">
                      </div>
                     </div>
                </div>
              </div><br><br>
              <footer class="footer" style="background-color:#FF3399;font-size:20px;">
                <div class="container-fluid:" style="background-color: black">
                  <div class="container">
                    <div class="row">
                      <div class=" col-12 col-md-3 col-lg-3 ">
                        <div class="container-fluid" style="background-color:#FF3399; color: white;">
                            <h3>VAJRA EVENTS</h3>
                        </div>
                            <p style="color: white">
                              We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
                            </p>
                          </div>
                          <div class=" col-12 col-md-3 col-lg-3 ">
                            <h2 style="color: white">USEFUL LINKS</h2>
                            <strong style="color: white">HOME</strong><br>
                            <strong style="color: white">ABOUT US</strong><br>
                            <strong style="color: white">SERVICES</strong><br>
                            <strong style="color: white">GALLERY</strong><br>
                            <strong style="color: white">CAREER</strong><br>
                            <strong style="color: white">CONTACT US</strong><br>
                          </div>
                          <div class=" col-12 col-md-3 col-lg-3 ">
                            <h2 style="color: white">SERVICES</h2>
                            <strong style="color: white">Wedding&Reception</strong><br>
                            <strong style="color: white">Corporate Events</strong><br>
                            <strong style="color: white">MICE Events</strong><br>
                            <strong style="color: white">Movie Publicity&Promotions</strong><br>
                            <strong style="color: white">Birthday Parties</strong><br>
                            <strong style="color: white">Sports Events</strong><br>
                          </div>
                          <div class=" col-12 col-md-3 col-lg-3 ">
                            <strong style="color: white"> Media Planners</strong><br>
                            <strong style="color: white">Celebrity Management</strong><br>
                            <strong style="color: white">Occasional Events</strong><br>
                            <strong style="color: white">Entertainment</strong><br>
                            <strong style="color: white">SFX PRODUCTS</strong><br>
                          </div>
                      </div>
                    </div>
                  </div>
              </footer>
    </div>
  </div>
</div>
