<div class="container">
  <h3 style="color:#4070f4">OUR SERVICES</h3>
  <div class="row md-1 gy-3 my-3">
    <div class="col-12 col-md-4" *ngFor="let event of events">
<div class="card mb-4" style="width: 18rem;">
  <img src="{{event.imgsrc}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{event.name}}</h5>
    <p class="card-text">{{event.description}}</p>
    <a type="button" routerLink="showwedding" (click)="ReadMore()" class="btn btn-primary">ReadMore</a>
  </div>
 </div>
</div>
</div>
</div>
