<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="navbar.component.css">
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="navbar">
              <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
              <a class="active" href="#"><i class="fa fa-fw  fa-image"></i> Gallery</a>
              <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
              <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
              <a routerLink="login"><i class="fa fa-fw fa-user"></i> Login</a>
              <a routerLink="register"><i class="fa fa-fw fa-user"></i> register</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-briefcase fa-fade"></i> Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Service 1</a>
                  <a class="dropdown-item" href="#">Service 2</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Other Services</a>
                </div>
              </li>


            </div>
        </ul>
      </div>
    </div>
  </nav>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
</body>
