.header{
  text-align:center;
  background-color:#FF3399;
  color:white;
  font-family:'Times New Roman';
}
table{
  border: 1px solid yellow;
  background-color: yellow;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
tr{
  background-color: black;
  color: white;
}
