<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="header">Celebrity Management</h1>
    </div>
  </div>
  <div class="container" *ngFor="let event of events">
    <div class="row">
      <div class="col-12 col-md-10">
        <img src="{{event.imgsrc}}">
      </div>
      <div class="col-12 col-md-2">
        <table border="1px solid black">
          <th>
            Service List
          </th>
          <tr>Anniversary</tr><br>
          <tr>Corporate Events</tr><br>
          <tr>MICE Events</tr><br>
          <tr>Movie Publicity & Promotions</tr><br>
          <tr>Sports Events</tr><br>
          <tr>Media Planners</tr><br>
          <tr>Celebrity Management</tr><br>
        </table>
      </div><br><br><br>
      <div class="container">
        <h2 style="color:#4070f4">Celebrity Management</h2>
        <p style="font-size:20px;">
          Celebrity management is a critical aspect of the entertainment industry, as it helps to ensure that
          celebrities are able to<br> effectively leverage their fame and success for personal and professional growth
          and success.<br><br>

          We invite celebrities on your special shows for all kind of professional assignments right from ribbon cutting
          to<br> inaugurations, performances, endorsements, branding, television commercials, We have direct access and
          long working<br> relationship with Film stars, Actors, Singers, Television stars.<br><br>

          We organize highly fascinating Fashion Shows that make the surroundings electrified by excitement and passion
          for all<br> types of fashion shows and also local fashion show which are mostly held at malls. The services of
          Vajra Events in this<br> field of fashion show include arrangements of models.<br><br>
        </p>
      </div>
      <div class="container;">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB1.jpg" class="card-img-top" alt="...">
            </div>
          </div>

          <div class="col-12 col-md-4 mt-3">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB2.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-12 col-md-4 mt-4">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB3.jpeg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="container;">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB4.jpeg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB5.jpeg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-12 col-md-4 mt-5">
            <div class="card" style="width: 38rem;">
              <img src="/assets/CDCLB6.jpeg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div><br><br>
      <footer class="footer" style="background-color:#FF3399;font-size:20px;">
        <div class="container-fluid:" style="background-color: black">
          <div class="container">
            <div class="row">
              <div class=" col-12 col-md-3 col-lg-3 ">
                <div class="container-fluid" style="background-color:#FF3399; color: white;">
                  <h3>VAJRA EVENTS</h3>
                </div>
                <p style="color: white">
                  We excel in all types of events.<br> Our team is the driving force<br> behind successful events
                  and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
                </p>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <h2 style="color: white">USEFUL LINKS</h2>
                <strong style="color: white">HOME</strong><br>
                <strong style="color: white">ABOUT US</strong><br>
                <strong style="color: white">SERVICES</strong><br>
                <strong style="color: white">GALLERY</strong><br>
                <strong style="color: white">CAREER</strong><br>
                <strong style="color: white">CONTACT US</strong><br>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <h2 style="color: white">SERVICES</h2>
                <strong style="color: white">Wedding&Reception</strong><br>
                <strong style="color: white">Corporate Events</strong><br>
                <strong style="color: white">MICE Events</strong><br>
                <strong style="color: white">Movie Publicity&Promotions</strong><br>
                <strong style="color: white">Birthday Parties</strong><br>
                <strong style="color: white">Sports Events</strong><br>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <strong style="color: white"> Media Planners</strong><br>
                <strong style="color: white">Celebrity Management</strong><br>
                <strong style="color: white">Occasional Events</strong><br>
                <strong style="color: white">Entertainment</strong><br>
                <strong style="color: white">SFX PRODUCTS</strong><br>
              </div>
            </div>
          </div>
        </div>
      </footer>


    </div>

  </div>

</div>
