<div class="container;">

  <img src="assets/36.jpeg" class="card-img-top" alt="...">

</div>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
    <h1 style="color: #FF3377">ABOUT US</h1><br>
     <!-- <h2 style="color: orange">Aagna events is the one stop event organisation</h2><br><br> -->
    <p style="font-size: 20px;">
          Developing events after a careful study of the brand and considering its objective.<br> Delivering the best possible to generate maximum response towards the products and clients.<br> Deciphering the response: Project Evaluation and Feedback. These EVENTS give an insight into the actual size<br> and help us in defining best strategy for our clients. An Exclusive Event Organiser in Hyderabad.<br>
  </p>
 </div>
 <div class="col-12 col-md-6">
   <div class="card" style="width: 30rem;">
   <img src="../../assets/33.jpg">
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
  <div class="col-12 col-md-6">
  <h2 style="color: black">IN THE MEDIA</h2>
  <tr><img src="assets/37.png" style="width: 1rem;"> Anniversary Event</tr>

 <tr><img src="assets/37.png" style="width: 1rem;"> Birthday Event</tr>

 <tr><img src="assets/37.png" style="width: 1rem;"> Sports Event</tr>

 <tr><img src="assets/37.png" style="width: 1rem;"> coperative Event</tr>

 <tr><img src="assets/37.png" style="width: 1rem;"> Occasional Event</tr>

 <tr><img src="assets/37.png" style="width: 1rem;"> media planner</tr>
  </div>
 </div>
 </div>


 <div class="container">
  <div class="row">
 <h3 style="color:#FF3377">Event Planner and Event Organizer Services In Hyderabad</h3>
 <p><img src="assets/37.png" style="width: 1rem;"> Event Organizer with an Exclusive event management company based in Hyderabad and networking allover India. Events management more than skill is an art. An art of understanding someone else’s vision and bringing it alive into a tangible product.</p>
 <br>
 <br>
 <p><img src="assets/37.png" style="width: 1rem;">Event Organizer Services and Exclusive event Planner Hyderabad aagana events make your memorable events with us and will be unforgettable event in life.</p>
 <br>
  <p><img src="assets/37.png" style="width: 1rem;"> We started our journey with a Birthday party and here we are today, doing corporate events, audio Launches, Brand promotions being a few to begin with.</p>
  <br>
  <p><img src="assets/37.png" style="width: 1rem;">Our services also include Birthday parties, exhibitions, trade shows, award functions, School and college Fests, Celebrity Management, fashion shows etc We are here to let you enjoy your piece of cake while we walk the extra mile for you and offers a “One stop Shoppe” for all your event management requirements. An Event Organizer in Hyderabad.</p>
  </div>
  </div>
  <br>
  <div class="container">
          <div class="row">
                  <h4 style="color:#ff3377">The Aagana process</h4>
                  <p><img src="assets/37.png" style="width: 1rem;"> Taking the detailed brief</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Identification of tasks and finalizing detailed checklist.</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Ideas based on the final objective.</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Execution.</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Event co-ordination.</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Concept development.</p>
                  <p><img src="assets/37.png" style="width: 1rem;"> Evaluation and Client feedback.</p>
          </div>
  </div>
  <footer class="footer" style="background-color:#FF3399;font-size:20px;">
          <footer class="container-fluid:" style="background-color: black">
            <div class="container">
              <div class="row">
                <div class=" col-12 col-md-3 col-lg-3 ">
                  <div class="container-fluid" style="background-color:#FF3399; color: white;">
                      <h3>Aagana Event</h3>
                  </div>
                      <p style="color: white">
                        We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
                      </p>
                    </div>
                    <div class=" col-12 col-md-3 col-lg-3 ">
                      <h2 style="color: white">USEFUL LINKS</h2>
                      <strong style="color: white">HOME</strong><br>
                      <strong style="color: white">ABOUT US</strong><br>
                      <strong style="color: white">SERVICES</strong><br>
                      <strong style="color: white">GALLERY</strong><br>
                      <strong style="color: white">CAREER</strong><br>
                      <strong style="color: white">CONTACT US</strong><br>
                    </div>
                    <div class=" col-12 col-md-3 col-lg-3 ">
                      <h2 style="color: white">SERVICES</h2>
                      <strong style="color: white">Wedding&Reception</strong><br>
                      <strong style="color: white">Corporate Events</strong><br>
                      <strong style="color: white">MICE Events</strong><br>
                      <strong style="color: white">Movie Publicity&Promotions</strong><br>
                      <strong style="color: white">Birthday Parties</strong><br>
                      <strong style="color: white">Sports Events</strong><br>
                    </div>
                    <div class=" col-12 col-md-3 col-lg-3 ">
                      <strong style="color: white"> Media Planners</strong><br>
                      <strong style="color: white">Celebrity Management</strong><br>
                      <strong style="color: white">Occasional Events</strong><br>
                      <strong style="color: white">Entertainment</strong><br>
                      <strong style="color: white">SFX PRODUCTS</strong><br>
                    </div>
                </div>
              </div>
            </footer>
