<head>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  crossorigin="anonymous">
</head>

<br/><br/>
<div class="container">
  <div style="width:100px">
<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
   <input type="text" name="emailId"  ngModel placeholder="Enter emailId" #emailId="ngModel" required minlength="2" maxlength="20"/>
  </div><br/><br/>
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
   <input type="password" name="password" ngModel placeholder="Enter password" #password="ngModel" required minlength="2" maxlength="8"/>
  </div><br/>
  <button class="btn btn-primary">Login</button>
</form>
<div>
   <div *ngIf="emailId.errors?.['required'] && emailId.touched"><h3>Please enter emailId</h3></div>
   <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"><h3>Please enter atleast 2 characters for emailId</h3></div>

   <div *ngIf="password.errors?.['required'] && password.touched"><h3>Please enter password</h3></div>
   <div *ngIf="password.errors?.['minlength'] && password.touched"><h3>Please enter atleast 2 characters for password</h3></div>
</div>
</div>
</div>
