/* Add this CSS code to your stylesheet */

/* Background colors */
body {
  background-color: blue;
  background-image: linear-gradient(45deg, #ffcc00, #ff00cc);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: blue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input field styles */
.input-group {
  position: relative;
}

.input-group-addon {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
}

.input-group input {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #cccccc;
}

/* Button styles */
button.btn-primary {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #4070f4;
}

/* Error message styles */
.ng-invalid.ng-touched input {
  border-color: #ff4444;
}
