body {
	margin: 0px;
	padding: 0px;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.cl {
	clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

/*Home page*/
body.homebg {
	background: url(../images/bgback.jpg) top center no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

.logo {
	padding: 0px 0px 0px 0px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.bg {
	width: 100%;
	/* height: 100vh;
	background-color: rgba(44, 62, 80, 0.92); */
}