.owl-stage-outer{
    height: 600px;
}
.main-slider .slide{
    height: 600px;
}

/* banner section */
.banner-sec1 img{
    width: 100%;
}
.main-slider {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-seven);
}

.main-slider .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider .slide:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background: url(../images/main-slider/shadow-layer.png);
    background-repeat: repeat-y;
}

.main-slider .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 120px 0px 70px;
}

.main-slider .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider .slide .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.main-slider .slide .pattern-layer-two {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 253px;
    height: 297px;
    z-index: 1;
}

.main-slider .content-column {
    position: relative;
    z-index: 2;
}

.main-slider .content-column .inner-column {
    position: relative;
    margin-left: 15px;
    margin-top: 125px;
}

.main-slider h1 {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    color: #fff;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: 30px;
    font-size: 70px;
    line-height: 1em;
    font-weight: 600;
}

.main-slider .active h1 {
    opacity: 1;
    transform: scaleY(1);
    text-shadow: 2px 1px #3190c9;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider .text {
    opacity: 0;
    max-width: 580px;
    transform: scaleY(0);
    transform-origin: top;
    color: #d9d9d9;
    font-size: 18px;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: 35px;
    line-height: 28px;
}

.main-slider .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider .owl-dots {
    display: none;
}

.main-slider .owl-nav {
    position: absolute;
    right: 12%;
    top: 50%;
    width: 60px;
    transform: translateY(-50%);
}

.main-slider .owl-nav .owl-prev,
.main-slider .owl-nav .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    color: var(--black-color);
    background-color:#fff;
    margin-bottom: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: "Flaticon";
}

.main-slider .owl-nav .owl-prev:hover,
.main-slider .owl-nav .owl-next:hover {
    color: #fff;
    background-color: #152300;
}

/*** 

====================================================================
	Main Slider Two
====================================================================

***/

.main-slider-two {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-seven);
}

.main-slider-two .social-box {
    position: absolute;
    left: 30px;
    bottom: 150px;
    z-index: 10;
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main-slider-two .social-box li {
    position: relative;
    display: inline-block;
    margin-top: var(--margin-top-40);
}

.main-slider-two .social-box li a {
    position: relative;
    font-size: var(--font-16);
    color: var(--white-color);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-slider-two .social-box li a:hover {
    color: var(--color-twentyeight);
}

.main-slider-two .social-box li a::before {
    transform: rotate(90deg);
    display: inline-block;
}

.main-slider-two .social-box li span {
    position: relative;
    display: inline-block;
    margin-left: var(--margin-left-5);
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-two .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider-two .image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    opacity: 0.50;
    background: var(--color-twentynine);
}

.main-slider-two .image-layer:after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 60%;
    bottom: 0px;
    z-index: 1;
    background: var(--main-color);
    background: -webkit-linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, var(--color-twentynine) 0%, rgba(255, 255, 255, 0) 100%);
}

.main-slider-two .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 200px 0px 270px;
}

.main-slider-two .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider-two .content-column {
    position: relative;
    z-index: 2;
}

.main-slider-two .content-column .inner-column {
    position: relative;
}

.main-slider-two .title {
    position: relative;
    opacity: 0;
    font-weight: 700;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-30);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-two .title span {
    color: var(--color-twentyeight);
}

.main-slider-two .active .title {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-two h1 span {
    color: var(--color-twentyeight);
}

.main-slider-two h1 {
    opacity: 0;
    font-weight: 800;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
}

.main-slider-two .active h1 {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-two .text {
    opacity: 0;
    max-width: 580px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--color-six);
    font-size: var(--font-18);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-35);
}

.main-slider-two .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider-two .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-two .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-two .phone-box {
    position: relative;
    margin-left: var(--margin-left-30);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-two .phone-box .box-inner {
    position: relative;
    font-weight: 700;
    color: var(--white-color);
    font-size: var(--font-16);
    padding-top: var(--padding-top-50);
    padding-left: var(--padding-left-110);
}

.main-slider-two .phone-box .box-inner:before {
    position: absolute;
    content: '';
    left: 40px;
    top: 40px;
    width: 64px;
    height: 59px;
    background: url(../images/icons/slider-icon.png) no-repeat;
}

.main-slider-two .phone-box .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    font-family: "Flaticon";
    color: var(--white-color);
    font-size: var(--font-20);
    background-color: var(--color-twentyseven);
}

.main-slider-two .phone-box strong {
    position: relative;
    display: block;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    /*font-family: var(--font-family-Poppins);*/
}

.main-slider-two .active .phone-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-two .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 206px;
    z-index: 10;
    background-position: center bottom;
    background-size: cover;
}

.main-slider-two .owl-dots {
    display: none;
}

.main-slider-two .owl-nav {
    position: absolute;
    right: 60px;
    top: 50%;
    width: 60px;
    transform: translateY(-50%);
}

.main-slider-two .owl-nav .owl-prev,
.main-slider-two .owl-nav .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: var(--font-18);
    color: var(--color-thirty);
    border: 2px solid var(--color-thirty);
    margin-bottom: var(--margin-bottom-15);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: "Flaticon";
    background-color: rgba(var(--black-color-rgb), 0.1);
}

.main-slider-two .owl-nav .owl-prev:hover,
.main-slider-two .owl-nav .owl-next:hover {
    color: var(--white-color);
    border-color: var(--main-color);
    background-color: var(--main-color);
}

/*** 

====================================================================
	Main Slider Three
====================================================================

***/

.main-slider-three {
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.main-slider-three .social-box {
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: 10;
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main-slider-three .social-box li {
    position: relative;
    display: inline-block;
    margin-top: var(--margin-top-40);
}

.main-slider-three .social-box li a {
    position: relative;
    font-size: var(--font-16);
    color: var(--white-color);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-slider-three .social-box li a:hover {
    color: var(--color-fourtytwo);
}

.main-slider-three .social-box li a::before {
    transform: rotate(90deg);
    display: inline-block;
}

.main-slider-three .social-box li span {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    /*font-family: var(--font-family-BeVietnam);*/
}

.main-slider-three .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.main-slider-three .image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    opacity: 0.70;
    background: var(--color-fourty);
}

.main-slider-three .slide {
    position: relative;
    overflow: hidden;
    background-size: cover;
    padding: 80px 0px 270px;
}

.main-slider-three .active .slide .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-slider-three .content-column {
    position: relative;
    z-index: 2;
}

.main-slider-three .content-column .inner-column {
    position: relative;
    padding-top: var(--padding-top-110);
}

.main-slider-three .title {
    position: relative;
    opacity: 0;
    font-weight: 700;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-24);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    text-transform: uppercase;
    margin-bottom: var(--margin-bottom-25);
}

.main-slider-three .active .title {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-three h1 span {
    color: var(--color-fourtytwo);
}

.main-slider-three h1 {
    opacity: 0;
    font-weight: 800;
    line-height: 75px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--white-color);
    font-size: var(--font-65);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-30);
}

.main-slider-three .active h1 {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.main-slider-three .text {
    opacity: 0;
    max-width: 540px;
    line-height: 30px;
    transform: scaleY(0);
    transform-origin: top;
    color: var(--color-six);
    font-size: var(--font-18);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    margin-bottom: var(--margin-bottom-35);
}

.main-slider-three .active .text {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.main-slider-three .button-box {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-three .active .button-box {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-three .image-column {
    position: relative;
    z-index: 10;
}

.main-slider-three .image-column .inner-column {
    position: relative;
}

.main-slider-three .image-column .image {
    position: relative;
    border-radius: 5px;
    margin-right: -50px;
    border: 6px solid var(--color-thirtytwo);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top;
    display: inline-block;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.main-slider-three .active .image-column .image {
    opacity: 1;
    transform: scaleX(1);
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.main-slider-three .pattern-layer {
    position: absolute;
    left: -6px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-position: left bottom;
    background-size: cover;
}

.main-slider-three .client-thumb-outer {
    position: absolute;
    left: -100px;
    right: 15px;
    bottom: 55px;
    z-index: 999;
    max-width: 330px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-item .thumb-box {
    z-index: 999;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-item .author-info {
    opacity: 1;
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel {
    position: relative;
    max-width: 90px;
    margin: 0 auto;
    text-align: center;
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel .owl-stage-outer {
    overflow: visible;
}

.main-slider-three .client-thumb-outer .thumb-item .thumb-box {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 4px solid var(--white-color);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    transform: scale(0.9, 0.9);
}

.main-slider-three .client-thumb-outer .owl-item {
    z-index: 0;
}

.main-slider-three .client-thumb-outer .owl-item.active .thumb-box {
    border-color: var(--color-fourtytwo);
}

.main-slider-three .client-thumb-outer .client-thumbs-carousel .thumb-item img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0%;
}

.main-slider-three .owl-dots,
.main-slider-three .owl-nav {
    display: none;
}
.cta-section .pattern-layer,
.cta-section .pattern-layer-two,
.news-section .pattern-layer-two,
.products-section .pattern-layer-three,
.products-section .pattern-layer-five,
.products-section .pattern-layer-four,
.news-section .pattern-layer-three,
.team-section-two .pattern-layer,
.main-slider .slide .pattern-layer-two,
.footer-style-two .pattern-layer-two,
.welcome-section .pattern-layer,
.service-section-two .pattern-layer-three {
    animation-name: float_up_down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float_up_down;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float_up_down;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float_up_down;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float_left_right;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
@-webkit-keyframes rotateme {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
}

@-moz-keyframes rotateme {
    0% {
        -moz-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -moz-transform: rotate(360deg);
        opacity: 1;
    }
}

@-o-keyframes rotateme {
    0% {
        -o-transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        -o-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -o-transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.services-section-two .upper-box .icon-two,
.services-section-two .upper-box .icon-three,
.about-section .images-column .pattern-layer {
    animation-name: rotateme;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 15s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

/* Bob Up Down*/

@-webkit-keyframes float_up_down {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes float_up_down {
    0% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.services-section-two .upper-box .icon-one {
    animation-name: float_up_down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float_up_down;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float_up_down;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float_up_down;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float_left_right;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.btn-style-one {
    position: relative;
    line-height: 30px;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    display: inline-grid;
    padding: 9px 14px;
    color: #fff;
    border-radius: 36px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #152300;
    /* font-family: var(--font-family-BeVietnam); */
    text-decoration: none !important;
}

.btn-style-one .txt {
    position: relative;
    z-index: 1;
}

.btn-style-one:before {
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 1;
    background: var(--color-two);
}

.btn-style-one i {
    position: relative;
    z-index: 1;
    font-style: normal;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
}

.btn-style-one:hover {
    color: #fff;
}

.btn-style-one:hover:before {
    top: -40%;
}
/*section end here*/
.carousel-item img{
    width: 100%;
    height: 100%;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}



@media only screen and (max-width: 1023px){
.main-slider h1 {
    font-size: 45px;
}
}

@media only screen and (max-width: 991px){
    .main-slider .slide {
        height: 410px;
    }
    .owl-stage-outer{
        height: 410px;
    }
}

@media only screen and (max-width: 599px){
    .main-slider h1 {
        font-size: 35px;
    }

}


@media only screen and (max-width: 480px){
    .main-slider .slide {
        height: 370px;
    }
    .main-slider .owl-nav {
        position: absolute;
        right: 10%;
        top: 85%;
        /* display: flex; */
        width: 100px;
        transform: translateY(-50%);
    }
    .main-slider .content-column .inner-column {
        position: relative;
        margin-left: 15px;
        margin-top: 34px;
    }
  
}


@media only screen and (max-width: 340px){
    .main-slider h1 {
        font-size: 31px;
    }
    .main-slider .owl-nav {
        right: 10%;
        top: 85%;
    }

}

.owl-nav{
    display: none;
}