<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    <h1 class="header">SPORTS EVENT</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10">
      <img src="{{events[0].imgsrc}}">
    </div>
 <div class="col-12 col-md-2">
  <table border="1px solid black">
    <th>
      service List
    </th>
    <tr>Wedding & Receptions</tr><br>
    <tr>Corporate Events</tr><br>
    <tr>MICE Events</tr><br>
    <tr>Movie Publicity & Promotions</tr><br>
    <tr>Birthday parties</tr><br>
    <tr>Sports Events</tr><br>
    <tr>Celebrity Management</tr><br>
    <tr>Occasional Events</tr><br>
  </table>
  </div><br><br><br><br>
  <div class="container">
    <h2 style="color:#FF3377">Sports Event</h2>
    <p font-size="20px;">
      Sports events serve as a platform for entertainment, excitement, and friendly competition, and can bring people<br> together in support of a common goal or to celebrate their love of the game.<br><br>

Vajra events host and organize sports tournaments and events throughout the year. Organizers are drawn to our<br> excellent facilities, convenient location, and also with the amazing weather. We follow the process of understanding<br> client objectives and building the event step by step. We continuously strive to push the boundaries of a creative<br> thought with every new project we take on.<br><br>

We have our dedicated team of experienced professionals who are experts in sports event planning, who help and<br> coordinate with the team to execute with their planning, taking care of the basic steps to plan enjoyable sports<br> tournaments and make the event fill with more fun and joy.<br><br>
    </p>
  </div><br>
  <div class="container">
    <div class="row">
     <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/24.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/25.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/26.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
     <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/27.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/28.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/29.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  </div><br><br>
  <div class="container">
    <div class="row">
     <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/41.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/42.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 28rem;">
        <img src="assets/43.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  </div><br><br><br><br><br><br><br><br>

  <footer class="footer" style="background-color:#FF3399;">
    <div class="container-fluid:" style="background-color: black">
      <div class="container">
        <div class="row">
          <div class=" col-12 col-md-3 col-lg-3 ">
            <div class="container-fluid" style="background-color:#FF3399; color: white;">
                <h3>VAJRA EVENTS</h3>
            </div>
                <p style="color: white">
                  We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
                </p>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <h2 style="color: white">USEFUL LINKS</h2>
                <strong style="color: white">HOME</strong><br>
                <strong style="color: white">ABOUT US</strong><br>
                <strong style="color: white">SERVICES</strong><br>
                <strong style="color: white">GALLERY</strong><br>
                <strong style="color: white">CAREER</strong><br>
                <strong style="color: white">CONTACT US</strong><br>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <h2 style="color: white">SERVICES</h2>
                <strong style="color: white">Wedding&Reception</strong><br>
                <strong style="color: white">Corporate Events</strong><br>
                <strong style="color: white">MICE Events</strong><br>
                <strong style="color: white">Movie Publicity&Promotions</strong><br>
                <strong style="color: white">Birthday Parties</strong><br>
                <strong style="color: white">Sports Events</strong><br>
              </div>
              <div class=" col-12 col-md-3 col-lg-3 ">
                <strong style="color: white"> Media Planners</strong><br>
                <strong style="color: white">Celebrity Management</strong><br>
                <strong style="color: white">Occasional Events</strong><br>
                <strong style="color: white">Entertainment</strong><br>
                <strong style="color: white">SFX PRODUCTS</strong><br>
              </div>
          </div>
        </div>
      </div>
  </footer>
