.header{
  text-align:center;
  background-color:#FF3399;
  color:white;
  font-family:'Times New Roman';
}
table{
  border:1px solid yellow;
  background-color: yellow;
  margin-bottom:3px;
  margin-top: 3px;
  margin-right: 3px;
  margin-left: 3px;
}
tr{
  border:1px solid black;
  background-color: black;
  color:white;
  margin:5px;
}
