

<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->

<!-- <app-homepage></app-homepage> -->
<!-- <app-showwedding></app-showwedding> -->
<!-- <app-sportsevent></app-sportsevent> -->
<!-- <app-showsportsevent></app-showsportsevent> -->
<!-- <app-register></app-register> -->
<!-- <app-birthday></app-birthday> -->
<!-- <app-showbirthday></app-showbirthday> -->
<!-- <app-wedding></app-wedding> -->
<!-- <app-unique></app-unique> -->
<!-- <app-showunique></app-showunique> -->
<!-- <app-showmedia></app-showmedia> -->
<app-navbar></app-navbar>
<!-- <app-showcorporate></app-showcorporate> -->
<!-- <app-showcelebrity></app-showcelebrity> -->
<!-- <app-showabout></app-showabout> -->
