/* CSS for Payment Page */

/* Background */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .bg.bg2 {
    background-image: url(https://example.com/your-background-image-2.jpg);
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  
  .bg.bg3 {
    background-image: url(https://example.com/your-background-image-3.jpg);
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  
  /* Content Container */
  .content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  /* Card Styling */
  .card {
    width: 90%;
    max-width: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-top: 10px;
  }
  
  /* List Group Styling */
  .list-group-item {
    background-color: #F8F9FA;
    border: none;
    padding: 10px; /* Adjust the padding as needed */
  }
  
  /* Button Styling */
  .btn-primary,
  .btn-success {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px; /* Adjust the padding as needed */
    border-radius: 5px;
  }
  
  /* Image Styling */
  img {
    width: 20%;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  