<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 align="center" style="color:#4070f4 ">BIRTHDAY PARTIES</h1>
    </div>
   </div>
   <div class="container">
    <div class="row">
      <div class="col-12 col-md-10">
        <img src="{{events[0].imgsrc}}">
      </div>
     <div class="col-12 col-md-2">
      <table border="5px solid black">
        <div>
        <th>
          service List
        </th>
      </div>
        <tr>Anniversary</tr><br>
        <tr>Corporate Events</tr><br>
        <tr>MICE Events</tr><br>
        <tr>Movie Publicity & Promotions</tr><br>
        <tr>Birthday parties</tr><br>
        <tr>Sports Events</tr><br>
        <tr>Celebrity Management</tr><br>
        <tr>Occasional Events</tr><br>
      </table>
     </div><br><br><br><br><br>
      <div class="container">
        <h2 style="color:#4070f4">Birthday Parties</h2>
        <p style="font-size: 24px;">
          Birthday parties are celebrations held to mark the anniversary of a person's birth, involving gifts, cake, food, and<br> socializing with friends and family.<br><br>

When it comes to organizing a great birthday party and turning-up the fun-dial of your celebrations, we know exactly<br> what ingredients of entertainment, of eye-popping decoration and merrymaking activities to add that’ll turn your<br> party into the most memorable event of the year!<br><br>

Birthdays are the best time for having fun and jolly time with friends and relatives and in each passing year, we gain<br> more experience and wisdom.<br><br>
        </p>
      </div>
     </div>
     <div class="container">
    <div class="col-12 col-md-4">
     <div class="row">
     <div class="card" style="width: 40rem;">
      <img src="assets/46.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
   <div class="col-12 col-md-4">
    <div class="card" style="width: 40rem;">
      <img src="assets/47.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="width: 40rem;">
      <img src="assets/48.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>
<div class="container">
  <div class="col-12 col-md-4">
   <div class="row">
   <div class="card" style="width: 40rem;">
    <img src="assets/49.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>
 <div class="col-12 col-md-4">
  <div class="card" style="width: 40rem;">
    <img src="assets/50.jpg" class="card-img-top" alt="...">
  </div>
</div>
<div class="col-12 col-md-4">
  <div class="card" style="width: 40rem;">
    <img src="assets/51.jpg" class="card-img-top" alt="...">
  </div>
</div>
</div><br><br>
<footer class="footer" style="background-color:#FF3399; font-size:25px;">
  <div class="container-fluid:" style="background-color: black">
    <div class="container">
      <div class="row">
        <div class=" col-12 col-md-3 col-lg-3 ">
          <div class="container-fluid" style="background-color:#FF3399; color: white;">
              <h3>VAJRA EVENTS</h3>
          </div>
              <p style="color: white">
                We excel in all types of events.<br> Our team is the driving force<br> behind successful events and<br> plays a critical role in ensuring<br> that they are executed to the<br> highest standards.<br>
              </p>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">USEFUL LINKS</h2>
              <strong style="color: white">HOME</strong><br>
              <strong style="color: white">ABOUT US</strong><br>
              <strong style="color: white">SERVICES</strong><br>
              <strong style="color: white">GALLERY</strong><br>
              <strong style="color: white">CAREER</strong><br>
              <strong style="color: white">CONTACT US</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <h2 style="color: white">SERVICES</h2>
              <strong style="color: white">Wedding&Reception</strong><br>
              <strong style="color: white">Corporate Events</strong><br>
              <strong style="color: white">MICE Events</strong><br>
              <strong style="color: white">Movie Publicity&Promotions</strong><br>
              <strong style="color: white">Birthday Parties</strong><br>
              <strong style="color: white">Sports Events</strong><br>
            </div>
            <div class=" col-12 col-md-3 col-lg-3 ">
              <strong style="color: white"> Media Planners</strong><br>
              <strong style="color: white">Celebrity Management</strong><br>
              <strong style="color: white">Occasional Events</strong><br>
              <strong style="color: white">Entertainment</strong><br>
              <strong style="color: white">SFX PRODUCTS</strong><br>
            </div>
        </div>
      </div>
    </div>
</footer>
  </div>
</div>




