<html>
<head>
    <meta charset="utf-8">
    <title>Booking Page</title>
</head>
<body>
    <div class="login-page">
        <div class="avatar">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/14/10/female-306407_960_720.png" alt="Avatar">
        </div>
        <div class="form">
            <h2>Booking</h2>
            <div>
                <p>Current Date: {{ currentDate | date }}</p>
                <button (click)="advanceDate()">Advance Date</button>
              </div>
            <form #bookingForm="ngForm" (ngSubmit)="BookingFormSubmit(bookingForm.value)" novalidate>
                <h1>bookingDate</h1>
                <input type="date" ngModel #bookingDate="ngModel" name="bookingDate" required placeholder="bookingDate">
                <button class="btn btn-primary btn-lg" [disabled]="!bookingForm.valid" a routerLink="/payment">Book Now</button>
            </form>
           
              
        </div>
    </div>
    <br>
</body>
</html>