<div class="container">
  <div class="card">
<form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()" class="border p-3 rounded-3">
  <div class="row g-0">
  </div>
  <div class="row">
    <div class="col mb-3">
       <label for="firstname" class="form-label">FirstName</label>
       <input type="text" class="form-control" id="firstname" formControlName="firstname">
       <div class="form-text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
        First Name is Required.
       </div>
       <div class="form-text text-danger" *ngIf="FirstName.errors?.['minlength'] && (FirstName.touched || FirstName.errors?.['minlength']) && (FirstName.touched || FirstName.dirty)">
        First Name is too short.
       </div>
       <div class="form-text text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)">
        First Name should start with Alphabet
       </div>
       <div class="col mb-3">
         <label for="lastname" class="form-label">LastName</label>
         <input type="text" class="form-control" id="lastname" formControlName="lastname">
       </div>
       <div class="form-text text-danger" *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)">
        LastName is required.
       </div>
       <div class="form-text text-danger" *ngIf="LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)">
        LastName is too short. At least 2 characters.
       </div>
       <div class="form-text text-danger" *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)">
        Name should start with an alphabet.
       </div>
    </div>
  </div>
  <div class="row">
     <label for="emailId" class="form-label">EmailId</label>
     <input type="emailId" class="form-control" id="emailId" formControlName="emailId">
   <div class="form-text text-danger" *ngIf="EmailId.errors?.['required'] && (EmailId.dirty || EmailId.touched)">
    EmailId is required.
   </div>
   <div class="form-text text-danger" *ngIf="EmailId.errors?.['EmailId'] && (EmailId.dirty || EmailId.touched)">
    EmailId is invalid.
   </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="mobilenumber" class="form-label">Mobile Number</label>
      <input type="text" class="form-control" id="mobilenumber" formControlName="mobilenumber">
      <div class="form-text text-danger" *ngIf="MobileNumber.errors?.['required'] && (MobileNumber.dirty || MobileNumber.touched)">
        Mobile Number is required
      </div>
      <div class="form-text text-danger" *ngIf="MobileNumber.errors?.['pattern'] && (MobileNumber.dirty || MobileNumber.touched)">
        Mobile Number is invalid.
      </div>
      <div class="form-text text-danger" *ngIf="MobileNumber.errors?.['minlength'] && (MobileNumber.dirty || MobileNumber.touched)">
        Mobile Number is short.
      </div>
     <div class="form-text text-danger" *ngIf="MobileNumber.errors?.['maxlength'] && (MobileNumber.dirty || MobileNumber.touched)">
       Mobile Number is long.
     </div>
    </div>
    <div class="col ps-3 mb-3">
      <div class="m-1">Gender</div>
      <div class="form-check form-check-inline">
         <input type="radio" class="form-check-input" value="m" id="male" formControlName="gender">
         <label class="form-check-label" for="male">Male</label>
      </div>
     <div class="form-check form-check-inline">
       <input type="radio" class="form-check-input" value="f" id="female" formControlName="gender">
       <label class="form-check-label" for="female">Female</label>
     </div>
     <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" value="f" id="female" formControlName="gender">
      <label class="form-check-label" for="female">Others</label>
    </div>
    <div class="form-text text-danger" *ngIf="Gender.errors?.['required']">
       Select Gender
    </div>
   </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="Password" class="form-control" id="Password" formControlName="Password">
      <div class="form-text"></div>
    </div>
    <div class="col mb-3">
      <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
      <input type="Password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword">
      <div class="form-text"></div>
    </div>
   <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || (Password.errors?.['maxlength']) && (Password.dirty || Password.touched)">
    Password should be at least 6 and at the max is charcters long.
   </div>
   <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
   </div>
  </div>
</form>
</div>
</div>
