<div class="container">
  <h2 style="color: #FF3377" align="center">OUR SERVICES</h2>
<div class="col-12 col-md-1" *ngFor="let event of events">
 <div class="card mb-1" style="width: 26rem;">
  <img src="{{event.imgsrc}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{event.name}}</h5>
    <p class="card-text">{{event.description}}</p>
    <a type="button" routerLink="showsportsevent"  class="btn btn-primary">READMORE</a>
  </div>
 </div>
</div>
</div>

